Repository woowacourse-teams/2021-pick-git, pull requests merged in 2021-09, with the labels that each got.

#478 [#477] JaCoCo 수정
  backend/pick-git/build.gradle
  backend/pick-git/src/docs/asciidoc/comment.adoc
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/comment/presentation/CommentControllerTest_queryComments.java
Labels: backend, chore

#479 [#476] Gradle Groovy Task 리팩토링 및 파이프라인 개선
  backend/pick-git/build.gradle
Labels: backend, chore

#485 [#484] api url 맵핑 수정
  frontend/src/services/requests/index.ts
  frontend/webpack.config.ts
Labels: frontend, chore

#487 [#486] local server 운영시 cors 문제가 생기는 이슈 해결
  frontend/src/services/requests/index.ts
  frontend/webpack.config.ts
Labels: bug, frontend

#497 [#490] 포트폴리오 기능을 위해 필요한 공용 컴포넌트들을 구현
  frontend/src/@types/index.ts
  frontend/src/@types/react-app-env.d.ts
  frontend/src/assets/icons/add-circle-large.svg
  frontend/src/assets/icons/add-circle.svg
  frontend/src/assets/icons/arrow-down.svg
  frontend/src/assets/icons/delete-circle.svg
  frontend/src/assets/icons/index.tsx
  frontend/src/components/@layout/ScrollActiveHeader/ScrollActiveHeader.stories.tsx
  frontend/src/components/@layout/ScrollActiveHeader/ScrollActiveHeader.style.ts
  frontend/src/components/@layout/ScrollActiveHeader/ScrollActiveHeader.tsx
  frontend/src/components/@shared/DateInput/DateInput.stories.tsx
  frontend/src/components/@shared/DateInput/DateInput.style.ts
  frontend/src/components/@shared/DateInput/DateInput.tsx
  frontend/src/components/@shared/DotPaginator/DotPaginator.stories.tsx
  frontend/src/components/@shared/DotPaginator/DotPaginator.style.ts
  frontend/src/components/@shared/DotPaginator/DotPaginator.tsx
  frontend/src/components/@shared/DropDown/DropDown.stories.tsx
  frontend/src/components/@shared/DropDown/DropDown.style.ts
  frontend/src/components/@shared/DropDown/DropDown.tsx
  frontend/src/components/@shared/SVGIcon/SVGIcon.tsx
  frontend/src/components/@shared/ToggleButton/ToggleButton.stories.tsx
  frontend/src/components/@shared/ToggleButton/ToggleButton.style.ts
  frontend/src/components/@shared/ToggleButton/ToggleButton.tsx
  frontend/src/components/@styled/layout.tsx
  frontend/src/components/@styled/mediaQueries.ts
  frontend/src/components/@styled/scrollbar.ts
  frontend/src/components/PostSelector/PostSelector.stories.tsx
  frontend/src/components/PostSelector/PostSelector.style.ts
  frontend/src/components/PostSelector/PostSelector.tsx
  frontend/src/constants/layout.ts
Labels: frontend, feature

#498 [#492, #493] TextEditor 컴포넌트 리팩터링 & 글자 수 증가에 따른 높이조절이 되지 않는 문제 해결
  frontend/src/components/@shared/Avatar/Avatar.style.ts
  frontend/src/components/@shared/Avatar/Avatar.tsx
  frontend/src/components/@shared/Button/Button.style.ts
  frontend/src/components/@shared/Button/Button.tsx
  frontend/src/components/@shared/Chip/Chip.style.ts
  frontend/src/components/@shared/Chip/Chip.tsx
  frontend/src/components/@shared/TextEditor/TextEditor.stories.tsx
  frontend/src/components/@shared/TextEditor/TextEditor.style.ts
  frontend/src/components/@shared/TextEditor/TextEditor.tsx
  frontend/src/components/PortfolioTextEditor/PortfolioTextEditor.stories.tsx
  frontend/src/components/PortfolioTextEditor/PortfolioTextEditor.style.ts
  frontend/src/components/PortfolioTextEditor/PortfolioTextEditor.tsx
  frontend/src/components/PostContentUploader/PostContentUploader.style.tsx
  frontend/src/components/PostContentUploader/PostContentUploader.tsx
  frontend/src/components/PostTextEditor/PostTextEditor.stories.tsx
  frontend/src/components/PostTextEditor/PostTextEditor.style.ts
  frontend/src/components/PostTextEditor/PostTextEditor.tsx
  frontend/src/components/Profile/Profile.style.tsx
  frontend/src/components/ProfileModificationForm/ProfileModificationForm.style.ts
  frontend/src/components/ProfileModificationForm/ProfileModificationForm.tsx
Labels: frontend, feature

#489 [#115] 태그 추출시 Other 태그 제외
  backend/pick-git/src/main/java/com/woowacourse/pickgit/tag/infrastructure/GithubTagExtractor.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/mockapi/MockTagApiRequester.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/tag/infrastructure/GithubTagExtractorTest.java
Labels: backend, feature

#496 [#495] 포트폴리오 기능 설계
  backend/pick-git/build.gradle
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/application/PortfolioService.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/application/dto/request/ContactRequestDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/application/dto/request/ItemRequestDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/application/dto/request/PortfolioRequestDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/application/dto/request/ProjectRequestDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/application/dto/request/SectionRequestDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/application/dto/response/ContactResponseDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/application/dto/response/ItemResponseDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/application/dto/response/PortfolioResponseDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/application/dto/response/ProjectResponseDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/application/dto/response/SectionResponseDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/domain/Contact.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/domain/Description.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/domain/Item.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/domain/Portfolio.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/domain/PortfolioRepository.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/domain/Project.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/domain/ProjectTag.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/domain/ProjectType.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/domain/Section.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/infrastructure/empty.txt
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/presentation/PortfolioController.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/presentation/dto/response/ContactResponse.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/presentation/dto/response/ItemResponse.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/presentation/dto/response/PortfolioResponse.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/presentation/dto/response/ProjectResponse.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/presentation/dto/response/SectionResponse.java
Labels: backend, feature

#507 [#506] User - Portfolio 연관관계 매핑 추가
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/domain/Portfolio.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/User.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/user/domain/UserRepositoryTest.java
Labels: bug, backend

#500 [#494] 포트폴리오 기능 구현
  frontend/src/App.tsx
  frontend/src/components/@layout/NavigationHeader/NavigationHeader.tsx
  frontend/src/components/@layout/PortfolioHeader/PortfolioHeader.stories.tsx
  frontend/src/components/@layout/PortfolioHeader/PortfolioHeader.style.ts
  frontend/src/components/@layout/PortfolioHeader/PortfolioHeader.tsx
  frontend/src/components/PortfolioProjectSection/PortfolioProjectSection.stories.tsx
  frontend/src/components/PortfolioProjectSection/PortfolioProjectSection.style.ts
  frontend/src/components/PortfolioProjectSection/PortfolioProjectSection.tsx
  frontend/src/components/PortfolioSection/PortfolioSection.stories.tsx
  frontend/src/components/PortfolioSection/PortfolioSection.style.ts
  frontend/src/components/PortfolioSection/PortfolioSection.tsx
  frontend/src/constants/localStorageKey.ts
  frontend/src/constants/messages.ts
  frontend/src/constants/placeholder.ts
  frontend/src/constants/urls.ts
  frontend/src/pages/PortfolioPage/PortfolioPage.style.ts
  frontend/src/pages/PortfolioPage/PortfolioPage.tsx
  frontend/src/services/hooks/@common/useLocalStorage.ts
  frontend/src/services/hooks/useFollow.ts
  frontend/src/services/hooks/usePortfolioIntro.ts
  frontend/src/services/hooks/usePortfolioProject.ts
  frontend/src/services/hooks/usePortfolioProjects.ts
  frontend/src/services/hooks/usePortfolioSection.ts
  frontend/src/services/hooks/usePortfolioSectionItem.ts
  frontend/src/utils/layout.ts
Labels: frontend, feature

#511 [#510] 누락된 칼럼 Flyway에 추가한다.
  backend/pick-git/src/main/resources/db/migration/V3__add_user_to_portfolio.sql
Labels: backend, chore

#517 [#516] search page 탭별 요청 분리
  frontend/src/components/@shared/GridFeed/GridFeed.tsx
  frontend/src/pages/SearchPage/SearchPage.tsx
  frontend/src/services/hooks/@tests/useSearchUserData.test.tsx
  frontend/src/services/hooks/useSearchPostData.ts
  frontend/src/services/hooks/useSearchUserData.ts
  frontend/src/services/queries/search.ts
Labels: bug, frontend

#522 [#521] 포트폴리오 기능 버그 해결
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/domain/repository/PortfolioRepository.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/presentation/PortfolioController.java
Labels: bug, backend

#524 [#523] 포트폴리오 조회 기능 버그 해결
  backend/pick-git/src/main/java/com/woowacourse/pickgit/portfolio/application/PortfolioService.java
Labels: bug, backend

#528 [#527] 프로젝트 섹션 추가 시 인피니트 스크롤링이 적용되지 않는 문제 해결
  frontend/src/components/@layout/PortfolioHeader/PortfolioHeader.tsx
  frontend/src/components/PostSelector/PostSelector.tsx
  frontend/src/pages/PortfolioPage/PortfolioPage.tsx
Labels: bug, frontend
