Repository woowacourse-teams/2021-pick-git, pull requests merged in 2021-08, with the labels that each got.

#302 [#273, #301] profile page 에러처리 수준 수정 및 기타 버그 해결
  frontend/src/components/ProfileModificationForm/ProfileModificationForm.tsx
  frontend/src/components/SearchListUser/SearchListUser.style.ts
  frontend/src/components/SearchListUser/SearchListUser.tsx
  frontend/src/constants/messages.ts
  frontend/src/services/hooks/useProfileModificationForm.ts
  frontend/src/services/queries/profile.ts
  frontend/src/services/requests/index.ts
  frontend/webpack.config.ts
Labels: bug, frontend, refactor

#298 [#296] 게시물 조회 인증 관련된 설정문제 해결
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/OAuthConfiguration.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/post/PostAcceptanceTest.java
Labels: backend, bug

#303 [#290] 중간 데모 버그를 해결
  frontend/src/@types/index.ts
  frontend/src/App.tsx
  frontend/src/assets/icons/arrow-right.svg
  frontend/src/assets/icons/index.tsx
  frontend/src/components/@shared/Comment/Comment.stories.tsx
  frontend/src/components/@shared/Comment/Comment.tsx
  frontend/src/components/@shared/PostItem/PostItem.stories.tsx
  frontend/src/components/@shared/PostItem/PostItem.style.ts
  frontend/src/components/@shared/PostItem/PostItem.tsx
  frontend/src/components/CommentSlider/CommentSlider.tsx
  frontend/src/components/Feed/Feed.stories.tsx
  frontend/src/components/Feed/Feed.tsx
  frontend/src/components/PostContentUploader/PostContentUploader.tsx
  frontend/src/components/ProfileFeed/ProfileFeed.stories.tsx
  frontend/src/pages/EditPostPage/EditPostPage.tsx
  frontend/src/pages/LoginPage/LoginPage.tsx
  frontend/src/pages/UserFeedPage/UserFeedPage.tsx
  frontend/src/services/hooks/@common/useBottomSlider.ts
  frontend/src/services/hooks/@tests/useFollow.test.tsx
  frontend/src/services/hooks/useFeedMutation.ts
  frontend/src/services/hooks/usePostEditStep.ts
  frontend/src/services/hooks/useUserFeed.ts
  frontend/src/services/requests/index.ts
  frontend/src/services/requests/posts.ts
Labels: bug, frontend

#305 [#304] api url 수정
  frontend/src/services/requests/index.ts
  frontend/webpack.config.ts
Labels: bug, frontend

#307 [#306] 게시물 삭제 버그 해결
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/PostService.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/Post.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/Posts.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/comment/Comments.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/content/Images.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/User.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/post/PostServiceIntegrationTest.java
Labels: backend, bug

#309 [#308] 게시물 수정 버그 해결
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/Post.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/post/PostServiceIntegrationTest.java
Labels: backend, bug

#311 [#310] 팀데모 결과 반영 - 프로필 페이지
  frontend/src/@types/index.ts
  frontend/src/components/CommentSlider/CommentSlider.tsx
  frontend/src/components/GithubStatistics/GithubStatistics.tsx
  frontend/src/pages/ProfilePage/ProfilePage.style.ts
  frontend/src/services/requests/githubStats.ts
  frontend/src/services/requests/index.ts
Labels: bug, frontend

#315 [#314] 세번째 팀 데모에서 발견된 버그 해결
  frontend/src/components/@shared/PostItem/PostItem.tsx
  frontend/src/components/CommentSlider/CommentSlider.tsx
  frontend/src/components/RepositorySelector/RepositorySelector.stories.tsx
  frontend/src/components/RepositorySelector/RepositorySelector.tsx
  frontend/src/constants/urls.ts
  frontend/src/pages/AddPostPage/AddPostPage.tsx
  frontend/src/services/queries/github.ts
  frontend/src/services/requests/github.ts
Labels: bug, frontend

#317 [#316] 3차데모 검색 페이지 및 UI 관련 이슈 해결
  frontend/src/components/@shared/ImageSlider/ImageSlider.style.ts
  frontend/src/components/@shared/PostItem/PostItem.tsx
  frontend/src/components/@shared/TextEditor/TextEditor.style.ts
  frontend/src/components/Feed/Feed.tsx
  frontend/src/components/SearchListUser/SearchListUser.tsx
  frontend/src/constants/messages.ts
Labels: bug, feature, frontend

#319 [#318] 네번째 팀 데모에서 발견된 버그 해결
  frontend/src/components/@shared/Comment/Comment.tsx
  frontend/src/components/@shared/PostItem/PostItem.tsx
  frontend/src/components/CommentSlider/CommentSlider.styles.tsx
  frontend/src/components/PostContentUploader/PostContentUploader.style.tsx
  frontend/src/components/TagInputForm/TagInputForm.tsx
  frontend/src/constants/limits.ts
  frontend/src/constants/messages.ts
  frontend/src/utils/postUpload.ts
  frontend/src/utils/text.tsx
Labels: bug, frontend

#321 [#320] 게시물 추가 시 이미지가 없으면 alert처리
  frontend/src/components/@shared/PostItem/PostItem.tsx
  frontend/src/constants/messages.ts
  frontend/src/pages/AddPostPage/AddPostPage.tsx
Labels: bug, frontend

#323 [#322] 게시글 수정 시 추가 되었다는 메세지가 아닌 수정 되었다는 메세지가 뜨도록 변경
  frontend/src/pages/EditPostPage/EditPostPage.tsx
Labels: bug, frontend

#325 [#324] 다른 이용자의 UserFeed 좋아요가 동작하지 않는 문제를 해결
  frontend/src/pages/UserFeedPage/UserFeedPage.tsx
Labels: bug, feature

#333 [#332] Acceptance Test를 위한 Request builder 기능을 구현.
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/infrastructure/GithubOAuthClient.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/PickgitHeaders.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/mockapi/MockGithubOAuthClient.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/request_builder/LoginBuilder.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/request_builder/PickGitRequest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/request_builder/RequestBuilder.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/request_builder/method_builder/MethodBuilder.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/request_builder/method_builder/PickGitPostMethodBuilder.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/request_builder/method_builder/PickGitPutMethodBuilder.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/request_builder/parameters/NoParams.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/request_builder/parameters/Parameters.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/request_builder/parameters/post/Post_CommentWriteParameters.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/request_builder/parameters/post/Post_FollowingsParameters.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/request_builder/parameters/post/Post_PostWriteParameters.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/request_builder/parameters/put/Put_LikesAddParameters.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/request_builder/parameters/put/Put_PostUpdateParameters.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/request_builder/parameters/put/Put_ProfileContentUpdateParameters.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/request_builder/parameters/put/Put_ProfileImageUpdateParameters.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/InfrastructureTestConfiguration.java
Labels: backend, feature, test

#342 [#341] 새로운 기능 요구 사항에 맞춰 레이아웃을 업데이트 한다
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/src/components/@shared/Comment/Comment.stories.tsx
  frontend/src/components/@shared/Comment/Comment.style.ts
  frontend/src/components/@shared/Comment/Comment.tsx
  frontend/src/components/@shared/PostItem/PostItem.tsx
  frontend/src/components/@shared/TextEditor/TextEditor.style.ts
  frontend/src/components/@shared/TextEditor/TextEditor.tsx
  frontend/src/components/CommentSlider/CommentSlider.styles.tsx
  frontend/src/components/CommentSlider/CommentSlider.tsx
  frontend/src/components/Feed/Feed.tsx
  frontend/src/components/PostContentUploader/PostContentUploader.tsx
  frontend/src/constants/urls.ts
Labels: feature, frontend

#343 [#338] github statistics가 로그인 시에만 보이도록 수정
  frontend/src/components/GithubStatistics/GithubStatistics.style.ts
  frontend/src/components/GithubStatistics/GithubStatistics.tsx
  frontend/src/components/ProfileTabContents/ProfileTabContents.tsx
  frontend/src/services/hooks/useGithubStatistics.ts
  frontend/src/services/queries/githubStats.ts
  frontend/src/services/requests/githubStats.ts
Labels: feature, frontend

#350 [#349] 태그 클릭 시 검색 페이지로 이동
  frontend/src/components/@layout/SearchHeader/SearchHeader.tsx
  frontend/src/components/@shared/PostItem/PostItem.style.ts
  frontend/src/components/@shared/PostItem/PostItem.tsx
  frontend/src/components/@shared/Tabs/Tabs.tsx
  frontend/src/constants/urls.ts
  frontend/src/pages/SearchPage/SearchPage.tsx
  frontend/src/services/hooks/useSearchPostData.ts
Labels: feature, frontend

#353 [#351] 팔로우/언팔로우 시 깃헙 연동 여부 추가
  frontend/src/components/@shared/ProfileHeader/ProfileHeader.tsx
  frontend/src/components/SearchListUser/SearchListUser.tsx
  frontend/src/constants/messages.ts
  frontend/src/constants/urls.ts
  frontend/src/services/hooks/@tests/useFollow.test.tsx
  frontend/src/services/hooks/useFollow.ts
  frontend/src/services/queries/profile.ts
  frontend/src/services/requests/profile.ts
Labels: feature, frontend

#345 [#329] Github 통계 조회 기능 리팩토링
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/application/OAuthService.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/dao/CollectionOAuthAccessTokenDao.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/domain/OAuthAccessTokenDao.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/infrastructure/dao/CollectionOAuthAccessTokenDao.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/common/empty.txt
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/OAuthConfiguration.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/exception/user/ContributionParseException.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/application/UserService.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/PlatformContributionCalculator.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/PlatformContributionExtractor.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/infrastructure/calculator/GithubContributionCalculator.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/infrastructure/extractor/GithubContributionExtractor.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/infrastructure/extractor/PlatformContributionExtractor.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/infrastructure/requester/GithubContributionApiRequester.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/infrastructure/requester/PlatformContributionApiRequester.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/presentation/UserController.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/presentation/dto/request/ContributionRequestDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/presentation/dto/request/empty.txt
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/post/PostAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/user/UserAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/factory/UserFactory.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/mockapi/MockContributionApiRequester.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/authentication/AuthenticationPrincipalArgumentResolverIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/authentication/OAuthServiceIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/user/UserServiceIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/authentication/application/OAuthServiceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/authentication/dao/OAuthAccessTokenDaoTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/user/application/UserServiceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/user/infrastructure/GithubContributionCalculatorTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/user/infrastructure/GithubContributionExtractorTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/user/presentation/UserControllerTest.java
Labels: backend, refactor

#363 [#361] RestDocs에 이미지 파일 깨지는 버그 수정 및 누락 스니펫 추가
  backend/pick-git/src/docs/asciidoc/comment.adoc
  backend/pick-git/src/docs/asciidoc/index.adoc
  backend/pick-git/src/docs/asciidoc/post.adoc
  backend/pick-git/src/docs/asciidoc/profile.adoc
  backend/pick-git/src/docs/asciidoc/search.adoc
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/presentation/PostControllerTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/user/presentation/UserControllerTest.java
Labels: bug, backend

#346 [#337] 태그 기반 게시물 검색 기능 구현
  backend/pick-git/src/main/java/com/woowacourse/pickgit/exception/post/IllegalSearchTypeException.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/PostFeedService.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/dto/request/SearchPostsRequestDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/search/SearchTypes.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/search/type/SearchType.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/search/type/TagType.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/repository/PostRepository.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/PostFeedController.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/dto/request/SearchPostsRequest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/post/PostAcceptanceTest_searchPost.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/post/PostFeedServiceIntegrationTest_search.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/application/PostFeedService_search.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/application/SearchTypesTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/application/TagTypeTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/domain/PostRepositoryTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/domain/PostRepositoryTest_search.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/presentation/PostFeedControllerTest_searchPosts.java
Labels: backend, feature

#365 [#364] 스니펫 생성 경로 변경
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/presentation/PostFeedControllerTest_searchPosts.java
Labels: bug, backend

#371 [#368] 팀 1차 데모 버그 수정
  frontend/src/@types/index.ts
  frontend/src/components/@layout/MessageModalPortal/MessageModalPortal.tsx
  frontend/src/components/@shared/ProfileHeader/ProfileHeader.tsx
  frontend/src/components/GithubStatistics/GithubStatistics.tsx
  frontend/src/components/UserList/UserList.tsx
  frontend/src/pages/FollowingUserListPage/FollowingList.style.ts
  frontend/src/pages/ProfilePage/ProfilePage.style.ts
  frontend/src/pages/SearchPage/SearchPage.style.ts
  frontend/src/services/hooks/useSearchPostData.ts
Labels: bug, frontend

#373 [#372] spring rest docs html 생성 버그 해결
  backend/pick-git/build.gradle
Labels: bug, backend

#369 [#367] 프로필 수정 api 분리
  frontend/src/constants/error.ts
  frontend/src/constants/messages.ts
  frontend/src/constants/urls.ts
  frontend/src/services/hooks/useProfileModificationForm.ts
  frontend/src/services/queries/profile.ts
  frontend/src/services/requests/profile.ts
  frontend/src/utils/error.ts
Labels: frontend, refactor

#381 [#380, #335] 인피니트 스크롤링 적용 & CommentSlider -> CommentsPage 로 변경
  frontend/src/@types/index.ts
  frontend/src/App.tsx
  frontend/src/assets/icons/delete.svg
  frontend/src/assets/icons/index.tsx
  frontend/src/components/@shared/Chip/Chip.tsx
  frontend/src/components/@shared/Comment/Comment.tsx
  frontend/src/components/@shared/GridFeed/GridFeed.tsx
  frontend/src/components/@shared/InfiniteScrollContainer/InfiniteScrollContainer.style.ts
  frontend/src/components/@shared/InfiniteScrollContainer/InfiniteScrollContainer.tsx
  frontend/src/components/@shared/PostItem/PostItem.style.ts
  frontend/src/components/@shared/PostItem/PostItem.tsx
  frontend/src/components/@shared/Tabs/Tabs.style.ts
  frontend/src/components/Feed/Feed.tsx
  frontend/src/components/RepositorySelector/RepositorySelector.stories.tsx
  frontend/src/components/RepositorySelector/RepositorySelector.tsx
  frontend/src/constants/limits.ts
  frontend/src/constants/messages.ts
  frontend/src/constants/queries.ts
  frontend/src/constants/urls.ts
  frontend/src/pages/AddPostPage/AddPostPage.tsx
  frontend/src/pages/CommentsPage/CommentsPage.stories.tsx
  frontend/src/pages/CommentsPage/CommentsPage.style.tsx
  frontend/src/pages/CommentsPage/CommentsPage.tsx
  frontend/src/services/hooks/useComments.ts
  frontend/src/services/hooks/useHomeFeed.ts
  frontend/src/services/queries/comments.ts
  frontend/src/services/queries/github.ts
  frontend/src/services/requests/comments.ts
  frontend/src/services/requests/github.ts
  frontend/src/services/requests/posts.ts
  frontend/src/utils/feed.ts
  frontend/src/utils/infiniteData.ts
  frontend/webpack.config.ts
Labels: frontend, feature

#360 [#359] Github Repositories 검색 기능 구현
  backend/pick-git/src/docs/asciidoc/post.adoc
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/OAuthConfiguration.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/PostService.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/dto/request/SearchRepositoryRequestDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/util/PlatformRepositorySearchExtractor.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/infrastructure/extractor/GithubRepositorySearchExtractor.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/infrastructure/requester/GithubRepositoryApiRequester.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/PostController.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/post/PostRepositorySearchAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/mockapi/MockRepositoryApiRequester.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/post/PostServiceIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/application/PostServiceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/infrastructure/GithubRepositorySearchExtractorTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/presentation/PostControllerTest.java
Labels: backend, feature

#420 [#336] 게시물 좋아요 유저 목록 페이지를 구현
  frontend/src/constants/limits.ts
  frontend/src/pages/PostLikePeoplePage/PostLikePeoplePage.stories.tsx
  frontend/src/pages/PostLikePeoplePage/PostLikePeoplePage.style.ts
  frontend/src/pages/PostLikePeoplePage/PostLikePeoplePage.tsx
  frontend/src/services/hooks/usePostLikePeople.ts
  frontend/src/services/queries/postLikePeople.ts
  frontend/src/services/requests/comments.ts
  frontend/src/services/requests/postLikePeople.ts
Labels: frontend, feature

#426 [#424] 팀 2차데모에서 발견한 버그 수정
  frontend/src/constants/urls.ts
  frontend/src/services/hooks/useProfileModificationForm.ts
  frontend/src/services/requests/profile.ts
Labels: bug, frontend

#428 [#427] 레포 목록 검색 api 주소 수정
  frontend/src/components/RepositorySelector/RepositorySelector.tsx
  frontend/src/constants/urls.ts
Labels: bug, frontend

#429 [#425] 레포 검색 시 JSON 파싱 버그를 수정한다.
  backend/pick-git/build.gradle
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/util/dto/SearchRepositoryNameAndUrl.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/infrastructure/dto/RepositoryItemDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/infrastructure/extractor/GithubRepositorySearchExtractor.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/mockapi/MockRepositoryApiRequester.java
Labels: bug, backend

#433 [#430] 반응형 디자인 구현
  frontend/src/App.style.ts
  frontend/src/assets/icons/index.tsx
  frontend/src/assets/icons/logo.svg
  frontend/src/components/@layout/NavigationHeader/NavigationHeader.style.ts
  frontend/src/components/@layout/NavigationHeader/NavigationHeader.tsx
  frontend/src/components/@layout/SearchHeader/SearchHeader.style.ts
  frontend/src/components/@layout/StepHeader/StepHeader.style.ts
  frontend/src/components/@shared/Avatar/Avatar.style.ts
  frontend/src/components/@shared/Comment/Comment.style.ts
  frontend/src/components/@shared/GridFeed/GridFeed.styled.ts
  frontend/src/components/@shared/PostItem/PostItem.style.ts
  frontend/src/components/@shared/PostItem/PostItem.tsx
  frontend/src/components/@shared/ProfileHeader/ProfileHeader.style.ts
  frontend/src/components/@shared/ProfileHeader/ProfileHeader.tsx
  frontend/src/components/@styled/layout.tsx
  frontend/src/components/@styled/mediaQueries.ts
  frontend/src/components/Feed/Feed.style.ts
  frontend/src/components/GithubStatistics/GithubStatistics.style.ts
  frontend/src/components/GithubStatistics/GithubStatistics.tsx
  frontend/src/components/PostContentUploader/PostContentUploader.tsx
  frontend/src/components/Profile/Profile.style.tsx
  frontend/src/components/RepositorySelector/RepositorySelector.style.tsx
  frontend/src/components/RepositorySelector/RepositorySelector.tsx
  frontend/src/constants/urls.ts
  frontend/src/pages/AddPostPage/AddPostPage.style.ts
  frontend/src/pages/CommentsPage/CommentsPage.style.tsx
  frontend/src/pages/CommentsPage/CommentsPage.tsx
  frontend/src/pages/ProfilePage/ProfilePage.style.ts
  frontend/src/pages/SearchPage/SearchPage.style.ts
  frontend/src/pages/SearchPage/SearchPage.tsx
  frontend/src/services/hooks/useComments.ts
  frontend/src/services/hooks/useSearchPostData.ts
Labels: frontend, feature

#440 [#94] README 작성
  README.md
Labels: docs

#439 [#438] 테스트에서 유저 이름을 기반으로 토큰을 생성하도록 변경
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/user/UserAcceptance_GetFollowingsAndFollowers.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/mockapi/MockGithubOAuthClient.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/request_builder/LoginBuilder.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/comment/CommentServiceIntegrationTest_queryComments.java
Labels: backend, refactor

#443 [#442] 프론트엔드 테스트 자동화 깃헙 액션 추가
  .github/workflows/FRONTEND_PR_TEST.yml
Labels: frontend, chore

#445 [#444] 피드 조회시 함께 오는 댓글의 갯수를 3개로 제한
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/PostDtoAssembler.java
Labels: backend, refactor

#413 [#374] 좋아요 리스트 조회 기능 구현
  backend/pick-git/src/docs/asciidoc/post.adoc
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/OAuthConfiguration.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/PostFeedService.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/PostService.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/dto/request/AuthUserForPostRequestDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/dto/response/LikeUsersResponseDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/Post.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/like/Like.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/like/Likes.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/repository/PostRepository.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/PostController.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/PostFeedController.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/dto/response/LikeUsersResponse.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/application/dto/request/AuthUserForUserRequestDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/User.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/presentation/UserController.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/post/PostAcceptanceTest_LikeUsers.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/user/UserAcceptance_GetFollowingsAndFollowers.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/factory/MockPost.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/factory/PostFactory.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/factory/UserFactory.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/post/PostFeedServiceIntegrationTest_search.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/post/PostServiceIntegrationTest_likeUsers.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/user/UserServiceIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/application/PostServiceTest_likeUsers.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/domain/PostRepositoryTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/domain/PostRepositoryTest_likeUsers.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/presentation/PostControllerTest_likeUsers.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/user/application/UserServiceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/user/presentation/UserSearchControllerTest.java
Labels: backend, feature

#448 fix: CORS 버그 해결 (#447)
  backend/pick-git/src/main/java/com/woowacourse/pickgit/comment/presentation/CommentController.java
Labels: bug, backend

#437 [#435] 인터셉터 등록 기능 어노테이션화
  backend/pick-git/src/main/java/com/woowacourse/pickgit/comment/presentation/CommentController.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/OAuthConfiguration.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/AutoAuthorizationInterceptorRegister.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/ForLoginAndGuestUser.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/ForOnlyLoginUser.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/UriParser.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/register_type/AuthenticateStorageForRegisterType.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/register_type/IgnoreAuthenticateStorageForRegisterType.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/register_type/RegisterType.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/register_type/StorageForRegisterType.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/ControllerScanner.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/ForGuestScanner.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/ForLoginUserScanner.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/MethodMapper.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/data_structure/InterceptorParameter.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/data_structure/MergedInterceptorParameterByMethod.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/package_scanner/PackageScanner.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/package_scanner/SourceVisitor.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/PostController.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/PostFeedController.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/tag/presentation/TagController.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/presentation/UserController.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/presentation/UserSearchController.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/auth_interceptor_register/AutoAuthorizationInterceptorRegisterTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/auth_interceptor_register/UriParserTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/ControllerScannerTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/ForLoginAndGuestUserScannerTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/ForOnlyLoginUserScannerTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/MethodMapperTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/PackageScannerTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/SourceVisitorTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/test_classes/ClassOne.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/test_classes/ClassThree.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/test_classes/ClassTwo.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/test_classes/inner/ClassFour.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/user/presentation/UserSearchControllerTest.java
Labels: backend, refactor

#450 [#449] 게시글 좋아요 이용자 목록 페이지 이동 라우팅이 되지 않는 문제 해결
  frontend/src/App.tsx
  frontend/src/components/Feed/Feed.tsx
  frontend/src/components/UserList/UserList.tsx
  frontend/src/constants/messages.ts
  frontend/src/constants/urls.ts
  frontend/src/pages/PostLikePeoplePage/PostLikePeoplePage.tsx
  frontend/src/services/hooks/usePostLikePeople.ts
  frontend/src/services/queries/postLikePeople.ts
  frontend/src/services/requests/postLikePeople.ts
Labels: bug, frontend

#454 [#453] 팀 3차 데모 결과 반영
  frontend/src/App.tsx
  frontend/src/components/@shared/GridFeed/GridFeed.styled.ts
  frontend/src/components/UserList/UserList.style.ts
  frontend/src/components/UserList/UserList.tsx
  frontend/src/constants/urls.ts
  frontend/src/pages/SearchPage/SearchPage.style.ts
  frontend/src/pages/SearchPage/SearchPage.tsx
  frontend/src/services/hooks/useSearchPostData.ts
Labels: bug, frontend

#456 [#455] 프론트엔드 테스트 액션 코드 수정
  .github/workflows/FRONTEND_PR_TEST.yml
Labels: frontend, chore

#458 [#457] 네번째 데모에서 발견된 버그를 해결한다.
  frontend/src/components/@layout/NavigationHeader/NavigationHeader.style.ts
  frontend/src/components/@layout/NavigationHeader/NavigationHeader.tsx
  frontend/src/components/@layout/SearchHeader/SearchHeader.style.ts
  frontend/src/components/@layout/SearchHeader/SearchHeader.tsx
  frontend/src/components/@layout/StepHeader/StepHeader.style.ts
  frontend/src/components/@layout/StepHeader/StepHeader.tsx
  frontend/src/components/@shared/ImageUploader/ImageUploader.style.ts
  frontend/src/components/@shared/ProfileHeader/ProfileHeader.style.ts
  frontend/src/components/@shared/ProfileHeader/ProfileHeader.tsx
  frontend/src/components/@styled/layout.tsx
  frontend/src/components/@styled/mediaQueries.ts
  frontend/src/components/GithubStatistics/GithubStatistics.style.ts
  frontend/src/components/GithubStatistics/GithubStatistics.tsx
  frontend/src/components/PostContentUploader/PostContentUploader.style.tsx
  frontend/src/components/RepositorySelector/RepositorySelector.style.tsx
  frontend/src/constants/layout.ts
  frontend/src/pages/AddPostPage/AddPostPage.style.ts
  frontend/src/pages/CommentsPage/CommentsPage.style.tsx
  frontend/src/pages/CommentsPage/CommentsPage.tsx
  frontend/src/pages/FollowerList/FollowerList.style.ts
  frontend/src/pages/FollowerList/FollowerList.tsx
  frontend/src/pages/FollowingUserListPage/FollowingList.style.ts
  frontend/src/pages/FollowingUserListPage/FollowingList.tsx
  frontend/src/pages/LoginPage/LoginPage.style.ts
  frontend/src/pages/PostLikePeoplePage/PostLikePeoplePage.style.ts
  frontend/src/pages/PostLikePeoplePage/PostLikePeoplePage.tsx
  frontend/src/services/hooks/useComments.ts
Labels: bug, frontend

#459 [#451] classname 파싱 버그를 해결한다.
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/OAuthConfiguration.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/package_scanner/PackageScanner.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/package_scanner/SourceVisitor.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/PackageScannerTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/SourceVisitorTest.java
Labels: bug, backend

#462 [#423, #460] 팀 4차 데모 버그 수정
  backend/pick-git/src/main/java/com/woowacourse/pickgit/comment/presentation/CommentController.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/OAuthConfiguration.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/AutoAuthorizationInterceptorRegister.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/ForLoginAndGuestUser.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/ForOnlyLoginUser.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/UriParser.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/register_type/AuthenticateStorageForRegisterType.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/register_type/IgnoreAuthenticateStorageForRegisterType.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/register_type/RegisterType.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/register_type/StorageForRegisterType.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/ControllerScanner.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/ForGuestScanner.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/ForLoginUserScanner.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/MethodMapper.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/data_structure/InterceptorParameter.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/data_structure/MergedInterceptorParameterByMethod.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/package_scanner/PackageScanner.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/package_scanner/SourceVisitor.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/PostController.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/PostFeedController.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/tag/presentation/TagController.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/presentation/UserController.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/presentation/UserSearchController.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/auth_interceptor_register/AutoAuthorizationInterceptorRegisterTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/auth_interceptor_register/UriParserTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/ControllerScannerTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/ForLoginAndGuestUserScannerTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/ForOnlyLoginUserScannerTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/MethodMapperTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/PackageScannerTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/SourceVisitorTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/test_classes/ClassOne.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/test_classes/ClassThree.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/test_classes/ClassTwo.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/auth_interceptor_register/scanner/test_classes/inner/ClassFour.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/user/presentation/UserSearchControllerTest.java
  frontend/src/components/@layout/Snackbar/Snackbar.style.ts
  frontend/src/components/@shared/GridFeed/GridFeed.styled.ts
  frontend/src/components/@shared/PostItem/PostItem.tsx
  frontend/src/components/@shared/Tabs/Tabs.style.ts
  frontend/src/components/@styled/layout.tsx
  frontend/src/components/ProfileModificationForm/ProfileModificationForm.tsx
  frontend/src/components/UserList/UserList.style.ts
  frontend/src/components/UserList/UserList.tsx
  frontend/src/constants/layout.ts
  frontend/src/pages/SearchPage/SearchPage.style.ts
  frontend/src/pages/SearchPage/SearchPage.tsx
  frontend/src/services/hooks/useComments.ts
  frontend/src/services/queries/comments.ts
  frontend/src/services/requests/comments.ts
  frontend/src/services/requests/postLikePeople.ts
Labels: bug, frontend

#463 불필요한 테스트 버튼 제거
  frontend/src/components/ProfileModificationForm/ProfileModificationForm.tsx
Labels: bug, frontend

#465 [#464] 댓글 작성 텍스트 input 이 tabs 보다 z-index 가 낮은 문제 수정
  frontend/src/pages/AuthLoginProcessingPage/AuthLoginProcessingPage.style.ts
  frontend/src/pages/CommentsPage/CommentsPage.style.tsx
  frontend/src/services/hooks/useComments.ts
Labels: frontend, feature

#468 [#436] 테스트 코드의 속도를 증진시킨다.
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/AcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/authentication/OAuthAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/comment/CommentAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/comment/CommentAcceptanceTest_delete.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/comment/CommentAcceptanceTest_queryComments.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/post/PostAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/post/PostAcceptanceTest_LikeUsers.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/post/PostAcceptanceTest_searchPost.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/post/PostRepositorySearchAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/tag/TagAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/user/UserAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/user/UserAcceptance_GetFollowingsAndFollowers.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/DatabaseCleaner.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/post/PostFeedServiceIntegrationTest_search.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/post/PostServiceIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/post/PostServiceIntegrationTest_likeUsers.java
Labels: backend, refactor
