Repository woowacourse-teams/2021-pick-git, pull requests merged in 2021-07, with the labels that each got.

#3 프론트엔드 기본 환경 설정
  frontend/.eslintrc
  frontend/.gitignore
  frontend/.prettierrc
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/babel.config.ts
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/index.tsx
  frontend/src/react-app-env.d.ts
  frontend/tsconfig.json
  frontend/webpack.config.ts
  frontend/yarn.lock
Labels: frontend

#18 Chip 컴포넌트 구현
  frontend/.storybook/preview.js
  frontend/package.json
  frontend/src/App.style.ts
  frontend/src/App.tsx
  frontend/src/assets/icons/cancel.svg
  frontend/src/components/@shared/Chip/Chip.stories.tsx
  frontend/src/components/@shared/Chip/Chip.style.ts
  frontend/src/components/@shared/Chip/Chip.tsx
  frontend/src/react-app-env.d.ts
  frontend/webpack.config.ts
  frontend/yarn.lock
Labels: feature, frontend

#20 Avatar 컴포넌트 구현
  frontend/src/assets/images/defaultProfile.svg
  frontend/src/components/@shared/Avatar/Avatar.stories.tsx
  frontend/src/components/@shared/Avatar/Avatar.style.ts
  frontend/src/components/@shared/Avatar/Avatar.tsx
Labels: feature, frontend

#19 CountIndicator 컴포넌트 구현
  frontend/src/components/@shared/CountIndicator/CountIndicator.stories.tsx
  frontend/src/components/@shared/CountIndicator/CountIndicator.style.ts
  frontend/src/components/@shared/CountIndicator/CountIndicator.tsx
Labels: feature, frontend

#23 chore: styled-components 의 theme 객체에 타입을 부여 (#22)
  frontend/src/react-app-env.d.ts
Labels: chore, frontend

#24 css normalize 적용
  frontend/package.json
  frontend/src/App.style.ts
  frontend/yarn.lock
Labels: chore, frontend

#25 type declare error 해결
  frontend/.eslintrc
  frontend/package.json
  frontend/src/@types/assets.d.ts
  frontend/src/@types/react-app-env.d.ts
  frontend/src/App.style.ts
  frontend/src/components/@shared/Avatar/Avatar.style.ts
  frontend/src/react-app-env.d.ts
  frontend/webpack.config.ts
  frontend/yarn.lock
Labels: bug, frontend

#27 스토리북 webpack 에 svgr 적용
  frontend/.storybook/main.js
  frontend/tsconfig.json
Labels: chore, frontend

#29 chore: svg 파일 추가 및 svg 컴포넌트를 하나의 파일에서 import 해올 수 있도록 설정
  frontend/src/assets/icons/add-box.svg
  frontend/src/assets/icons/home.svg
  frontend/src/assets/icons/index.tsx
  frontend/src/assets/icons/login.svg
  frontend/src/assets/icons/person.svg
  frontend/src/assets/icons/search.svg
Labels: chore, frontend

#30 [chore/setting] 백엔드 기본 환경 설정
  backend/pick-git/.gitignore
  backend/pick-git/build.gradle
  backend/pick-git/gradle/wrapper/gradle-wrapper.jar
  backend/pick-git/gradle/wrapper/gradle-wrapper.properties
  backend/pick-git/gradlew
  backend/pick-git/gradlew.bat
  backend/pick-git/settings.gradle
  backend/pick-git/src/main/java/com/woowacourse/pickgit/PickGitApplication.java
  backend/pick-git/src/main/resources/application.properties
  backend/pick-git/src/test/java/com/woowacourse/pickgit/PickGitApplicationTests.java
Labels: backend, chore

#33 [chore/package-structure] 패키지 구조 분리 및 스켈레톤 코드 작성
  backend/pick-git/src/main/java/com/woowacourse/pickgit/PickGitApplication.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/application/AuthService.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/domain/OAuth.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/presentation/AuthController.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/common/JwtXXX.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/AuthConfiguration.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/empty.txt
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/Post.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/PostContents.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/Posts.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/comment/Comment.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/comment/CommentContent.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/comment/Comments.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/content/Picture.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/content/Pictures.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/like/Like.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/like/Likes.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/infrastructure/empty.txt
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/empty.txt
  backend/pick-git/src/main/java/com/woowacourse/pickgit/tag/application/empty.txt
  backend/pick-git/src/main/java/com/woowacourse/pickgit/tag/domain/Tag.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/tag/domain/Tags.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/tag/infrastructure/empty.txt
  backend/pick-git/src/main/java/com/woowacourse/pickgit/tag/presentation/empty.txt
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/application/empty.txt
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/User.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/Vendor.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/follow/Follow.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/follow/Followers.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/follow/Followings.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/profile/BasicProfile.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/profile/GithubProfile.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/statistics/UserStatistics.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/infrastructure/GithubVendor.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/presentation/resolver/ResolverAnnotation.java
Labels: backend, chore

#31 CricleIcon 컴포넌트 구현
  frontend/src/components/@shared/CircleIcon/CircleIcon.stories.tsx
  frontend/src/components/@shared/CircleIcon/CircleIcon.style.ts
  frontend/src/components/@shared/CircleIcon/CircleIcon.tsx
Labels: feature, frontend

#42 [#6] NavigationHeader 컴포넌트 구현
  frontend/src/@types/assets.d.ts
  frontend/src/App.style.ts
  frontend/src/components/layout/NavigationHeader/NavigationHeader.stories.tsx
  frontend/src/components/layout/NavigationHeader/NavigationHeader.style.ts
  frontend/src/components/layout/NavigationHeader/NavigationHeader.tsx
  frontend/src/constants/path.ts
Labels: feature, frontend

#43 [#17] TextEditor 컴포넌트 구현
  frontend/src/App.style.ts
  frontend/src/assets/icons/index.tsx
  frontend/src/components/@shared/Chip/Chip.tsx
  frontend/src/components/@shared/TextEditor/TextEditor.stories.tsx
  frontend/src/components/@shared/TextEditor/TextEditor.style.ts
  frontend/src/components/@shared/TextEditor/TextEditor.tsx
Labels: feature, frontend

#56 [#49] S3 Proxy 기본 환경 설정
  s3-proxy/README.md
  s3-proxy/s3-proxy/.gitignore
  s3-proxy/s3-proxy/build.gradle
  s3-proxy/s3-proxy/gradle/wrapper/gradle-wrapper.jar
  s3-proxy/s3-proxy/gradle/wrapper/gradle-wrapper.properties
  s3-proxy/s3-proxy/gradlew
  s3-proxy/s3-proxy/gradlew.bat
  s3-proxy/s3-proxy/settings.gradle
  s3-proxy/s3-proxy/src/main/java/com/woowacourse/s3proxy/S3ProxyApplication.java
  s3-proxy/s3-proxy/src/main/resources/application.properties
  s3-proxy/s3-proxy/src/test/java/com/woowacourse/s3proxy/S3ProxyApplicationTests.java
Labels: backend, chore

#47 [#7] StepHeader 컴포넌트 구현
  frontend/src/assets/icons/go-back.svg
  frontend/src/assets/icons/go-forward.svg
  frontend/src/assets/icons/index.tsx
  frontend/src/components/layout/StepHeader/StepHeader.stories.tsx
  frontend/src/components/layout/StepHeader/StepHeader.style.ts
  frontend/src/components/layout/StepHeader/StepHeader.tsx
Labels: feature, frontend

#59 [#44] API Layer 추상화 및 profile request 구현
  frontend/.storybook/preview.js
  frontend/package.json
  frontend/src/@types/index.ts
  frontend/src/components/@layout/NavigationHeader/NavigationHeader.stories.tsx
  frontend/src/components/@layout/NavigationHeader/NavigationHeader.style.ts
  frontend/src/components/@layout/NavigationHeader/NavigationHeader.tsx
  frontend/src/components/Profile/Profile.stories.tsx
  frontend/src/components/Profile/Profile.style.tsx
  frontend/src/components/Profile/Profile.tsx
  frontend/src/constants/queries.ts
  frontend/src/constants/urls.ts
  frontend/src/mocks/db.json
  frontend/src/mocks/routes.json
  frontend/src/services/hooks/@common/useLocalStorage.ts
  frontend/src/services/queries/index.ts
  frontend/src/services/queries/profile.ts
  frontend/src/services/requests/index.ts
  frontend/src/services/requests/profile.ts
  frontend/yarn.lock
Labels: feature, frontend

#60 [#8] SearchHeader 컴포넌트 구현
  frontend/src/components/@layout/SearchHeader/SearchHeader.stories.tsx
  frontend/src/components/@layout/SearchHeader/SearchHeader.style.ts
  frontend/src/components/@layout/SearchHeader/SearchHeader.tsx
  frontend/src/components/@layout/StepHeader/StepHeader.stories.tsx
  frontend/src/components/@layout/StepHeader/StepHeader.style.ts
  frontend/src/components/@layout/StepHeader/StepHeader.tsx
Labels: feature, frontend

#64 [#14] Tabs 컴포넌트 구현
  frontend/src/App.style.ts
  frontend/src/components/@shared/Tabs/Tabs.stories.tsx
  frontend/src/components/@shared/Tabs/Tabs.style.ts
  frontend/src/components/@shared/Tabs/Tabs.tsx
Labels: feature, frontend

#67 [#11] ContributionGraph 컴포넌트 구현
  frontend/src/components/@shared/ContributionGraph/ContributionGraph.stories.tsx
  frontend/src/components/@shared/ContributionGraph/ContributionGraph.style.ts
  frontend/src/components/@shared/ContributionGraph/ContributionGraph.tsx
Labels: feature, frontend

#65 [#9] Input 컴포넌트 구현
  frontend/src/components/@shared/Input/Input.stories.tsx
  frontend/src/components/@shared/Input/Input.style.ts
  frontend/src/components/@shared/Input/Input.tsx
Labels: feature, frontend

#66 [#16] ImageUploader 컴포넌트 구현
  frontend/src/assets/images/default-image.png
  frontend/src/components/@shared/ImageUploader/ImageUploader.stories.tsx
  frontend/src/components/@shared/ImageUploader/ImageUploader.style.ts
  frontend/src/components/@shared/ImageUploader/ImageUploader.tsx
Labels: feature, frontend

#72 [#41] Button 컴포넌트 구현
  frontend/src/components/@shared/Button/Button.stories.tsx
  frontend/src/components/@shared/Button/Button.style.ts
  frontend/src/components/@shared/Button/Button.tsx
Labels: feature, frontend

#75 [#46] Github OAuth 2.0을 사용한 로그인 기능 구현
  backend/pick-git/build.gradle
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/application/JwtTokenProvider.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/application/OAuthService.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/application/dto/OAuthProfileResponse.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/application/empty.txt
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/dao/CollectionOAuthAccessTokenDao.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/dao/OAuthAccessTokenDao.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/domain/OAuthClient.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/infrastructure/AuthorizationExtractor.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/infrastructure/GithubOAuthClient.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/infrastructure/JwtTokenProviderImpl.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/infrastructure/dto/OAuthAccessTokenRequest.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/infrastructure/dto/OAuthAccessTokenResponse.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/presentation/AuthenticationPrincipalArgumentResolver.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/presentation/OAuthController.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/presentation/empty.txt
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/presentation/interceptor/AuthenticationInterceptor.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/OAuthConfiguration.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/User.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/profile/BasicProfile.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/profile/GithubProfile.java
  backend/pick-git/src/main/resources/application-test.yml
  backend/pick-git/src/test/java/com/woowacourse/pickgit/authentication/application/OAuthServiceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/authentication/dao/OAuthAccessTokenDaoTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/authentication/presentation/OAuthControllerTest.java
Labels: backend, feature, pre-pass

#73 [#63] Comment 컴포넌트 구현
  frontend/src/assets/icons/heart-line.svg
  frontend/src/assets/icons/heart.svg
  frontend/src/assets/icons/index.tsx
  frontend/src/components/@shared/Comment/Comment.stories.tsx
  frontend/src/components/@shared/Comment/Comment.style.ts
  frontend/src/components/@shared/Comment/Comment.tsx
Labels: feature, frontend

#77 [#4] ImageSlider 컴포넌트 구현
  frontend/src/assets/icons/go-back.svg
  frontend/src/assets/icons/go-forward.svg
  frontend/src/components/@layout/SearchHeader/SearchHeader.tsx
  frontend/src/components/@layout/StepHeader/StepHeader.tsx
  frontend/src/components/@shared/ImageSlider/ImageSlider.stories.tsx
  frontend/src/components/@shared/ImageSlider/ImageSlider.style.ts
  frontend/src/components/@shared/ImageSlider/ImageSlider.tsx
  frontend/src/services/hooks/@common/useThrottle.ts
Labels: feature, frontend

#81 [#5] PostItem 컴포넌트 구현
  frontend/src/assets/icons/edit.svg
  frontend/src/assets/icons/github.svg
  frontend/src/assets/icons/index.tsx
  frontend/src/assets/icons/post-heart-line.svg
  frontend/src/assets/icons/post-heart.svg
  frontend/src/components/@shared/Comment/Comment.stories.tsx
  frontend/src/components/@shared/Comment/Comment.style.ts
  frontend/src/components/@shared/Comment/Comment.tsx
  frontend/src/components/@shared/Input/Input.tsx
  frontend/src/components/@shared/PostItem/PostItem.stories.tsx
  frontend/src/components/@shared/PostItem/PostItem.style.ts
  frontend/src/components/@shared/PostItem/PostItem.tsx
  frontend/src/components/@shared/TextEditor/TextEditor.style.ts
  frontend/src/components/@shared/TextEditor/TextEditor.tsx
Labels: feature, frontend

#80 [#76] 로그인 기능 리팩토링 및 테스트 추가
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/application/JwtTokenProvider.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/application/OAuthService.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/application/dto/OAuthProfileResponse.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/infrastructure/JwtTokenProviderImpl.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/presentation/OAuthController.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/presentation/dto/OAuthLoginUrlResponse.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/presentation/dto/OAuthTokenResponse.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/presentation/interceptor/IgnoreAuthenticationInterceptor.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/OAuthConfiguration.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/User.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/profile/BasicProfile.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/profile/GithubProfile.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/authentication/OAuthAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/authentication/application/OAuthServiceMockTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/authentication/application/OAuthServiceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/authentication/presentation/AuthenticationPrincipalArgumentResolverTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/authentication/presentation/OAuthControllerTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/authentication/presentation/interceptor/AuthenticationInterceptorTest.java
Labels: backend, refactor

#68 [#40] 게시물 작성 기능 구현
  backend/pick-git/build.gradle
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/presentation/interceptor/AuthenticationInterceptor.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/OAuthConfiguration.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/exception/PickGitAdvice.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/exception/dto/PickGitExceptionResponse.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/PostService.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/dto/PostRequestDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/dto/PostResponseDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/empty.txt
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/Post.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/PostContent.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/PostRepository.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/content/Image.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/content/Images.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/infrastructure/empty.txt
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/PostController.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/dto/PostRequest.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/empty.txt
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/User.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/UserRepository.java
  backend/pick-git/src/main/resources/application-test.yml
  backend/pick-git/src/test/java/com/woowacourse/pickgit/PickGitApplicationTests.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/authentication/presentation/OAuthControllerTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/PostAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/application/PostServiceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/domain/PostContentTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/domain/PostRepositoryTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/integration/PostIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/presentation/PostControllerTest.java
Labels: backend, feature

#98 [#88] LoginPage 구현
  frontend/.storybook/preview.js
  frontend/src/App.style.ts
  frontend/src/App.tsx
  frontend/src/assets/icons/github-large.svg
  frontend/src/assets/icons/index.tsx
  frontend/src/components/@shared/Button/Button.tsx
  frontend/src/constants/urls.ts
  frontend/src/contexts/UserContext.tsx
  frontend/src/index.tsx
  frontend/src/mocks/db.json
  frontend/src/mocks/routes.json
  frontend/src/pages/AuthLoginProcessingPage/AuthLoginProcessingPage.stories.tsx
  frontend/src/pages/AuthLoginProcessingPage/AuthLoginProcessingPage.style.ts
  frontend/src/pages/AuthLoginProcessingPage/AuthLoginProcessingPage.tsx
  frontend/src/pages/LoginPage/LoginPage.stories.tsx
  frontend/src/pages/LoginPage/LoginPage.style.ts
  frontend/src/pages/LoginPage/LoginPage.tsx
  frontend/src/services/hooks/@common/useLocalStorage.ts
  frontend/src/services/queries/profile.ts
  frontend/src/services/requests/account.ts
  frontend/src/services/requests/index.ts
Labels: feature, frontend

#105 [#104] merge시 누락된 코드 추가
  frontend/src/@types/index.ts
  frontend/src/components/@layout/NavigationHeader/NavigationHeader.tsx
  frontend/src/components/@shared/PostItem/PostItem.stories.tsx
  frontend/src/components/@shared/PostItem/PostItem.tsx
  frontend/src/constants/urls.ts
Labels: bug, frontend

#100 [#99] 파일 업로드 기능 구현
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/PostService.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/dto/PostRequestDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/dto/PostResponseDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/Post.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/content/Image.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/content/Images.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/infrastructure/S3Storage.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/PickGitStorage.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/PostController.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/dto/PostRequest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/PickGitApplicationTests.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/authentication/OAuthAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/authentication/application/OAuthServiceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/authentication/dao/OAuthAccessTokenDaoTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/FileFactory.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/StorageConfiguration.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/PostAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/application/PostServiceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/domain/PostRepositoryTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/integration/PostIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/presentation/PostControllerTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/tag/presentation/TagAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/user/application/UserServiceIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/user/integration/UserIntegrationTest.java
  backend/pick-git/src/test/resources/testImage1.png
  backend/pick-git/src/test/resources/testImage2.png
Labels: backend, feature

#112 [#108] 예외 처리 전략 구현
  backend/pick-git/src/main/java/com/woowacourse/pickgit/exception/ApplicationException.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/exception/GlobalExceptionHandler.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/exception/PickGitAdvice.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/exception/authentication/AuthenticationException.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/exception/authentication/InvalidTokenException.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/exception/dto/ApiErrorResponse.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/exception/format/FormatException.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/exception/platform/PlatformException.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/exception/post/PostException.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/exception/user/UserException.java
Labels: backend, feature, pre-pass

#111 [#107] Button 컴포넌트 kind type 추가
  frontend/src/components/@shared/Button/Button.stories.tsx
  frontend/src/components/@shared/Button/Button.style.ts
  frontend/src/components/@shared/Button/Button.tsx
Labels: feature, frontend

#109 [#102] 게시물에 Github Repository 주소 추가 기능 구현
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/PostService.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/Post.java
  backend/pick-git/src/main/resources/application-test.yml
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/application/PostServiceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/domain/PostRepositoryTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/domain/PostTest.java
Labels: backend, feature

#84 [#34] 댓글 기능 구현
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/OAuthConfiguration.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/advice/PostControllerAdvice.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/CommentRequestDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/CommentResponseDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/PostService.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/Post.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/comment/Comment.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/comment/CommentContent.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/comment/CommentException.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/comment/CommentFormatException.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/comment/Comments.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/PostController.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/User.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/authentication/presentation/OAuthControllerTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/application/PostServiceIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/application/PostServiceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/domain/PostRepositoryTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/domain/comment/CommentTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/presentation/PostAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/presentation/PostControllerTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/user/domain/UserTest.java
Labels: backend, feature

#58 [#37] Github Repositories 조회 기능 구현
  backend/pick-git/build.gradle
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/OAuthConfiguration.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/PostService.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/dto/request/PostRequestDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/dto/request/RepositoryRequestDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/dto/response/PostResponseDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/dto/response/RepositoriesResponseDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/PlatformRepositoryExtractor.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/dto/RepositoryResponseDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/exception/PostAdvice.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/infrastructure/GithubRepositoryApiRequester.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/infrastructure/GithubRepositoryExtractor.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/infrastructure/PlatformRepositoryApiRequester.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/PostController.java
  backend/pick-git/src/main/resources/application-test.yml
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/PostAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/PostTestConfiguration.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/application/PostServiceIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/application/PostServiceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/infrastructure/GithubRepositoryExtractorTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/infrastructure/MockRepositoryApiRequester.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/integration/PostIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/presentation/PostControllerTest.java
Labels: backend, feature

#117 [#113] 프로필 조회시 팔로우 여부 기능 구현
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/application/OAuthService.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/application/UserService.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/application/dto/UserProfileServiceDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/User.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/follow/Followings.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/presentation/UserController.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/presentation/dto/UserProfileResponseDto.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/authentication/application/OAuthServiceMockTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/user/application/UserServiceIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/user/application/UserServiceMockTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/user/integration/UserIntegrationTest.java
Labels: backend, feature

#114 [#95] 홈 피드 게시글 조회
  backend/pick-git/build.gradle
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/JpaConfiguration.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/CommentResponseDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/PostDtoAssembler.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/PostService.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/dto/CommentDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/dto/PostDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/Post.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/PostContent.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/comment/Comment.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/content/Image.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/content/Images.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/like/Like.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/like/Likes.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/PostController.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/dto/HomeFeedRequest.java
  backend/pick-git/src/main/resources/application-local.yml
  backend/pick-git/src/main/resources/application-test.yml
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/PostAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/application/PostFactory.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/application/PostServiceIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/application/PostServiceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/presentation/PostAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/presentation/PostControllerTest.java
Labels: backend, feature

#121 [#87] HomeFeedPage 페이지 컴포넌트 구현
  frontend/.gitignore
  frontend/.storybook/utils/components.tsx
  frontend/src/App.tsx
  frontend/src/assets/icons/index.tsx
  frontend/src/assets/icons/send.svg
  frontend/src/components/@layout/NavigationHeader/NavigationHeader.style.ts
  frontend/src/components/@layout/SearchHeader/SearchHeader.style.ts
  frontend/src/components/@layout/StepHeader/StepHeader.style.ts
  frontend/src/components/@shared/Button/Button.style.ts
  frontend/src/components/@shared/Comment/Comment.tsx
  frontend/src/components/@shared/PostItem/PostItem.style.ts
  frontend/src/components/@shared/PostItem/PostItem.tsx
  frontend/src/components/@shared/TextEditor/TextEditor.stories.tsx
  frontend/src/components/@shared/TextEditor/TextEditor.style.ts
  frontend/src/components/@shared/TextEditor/TextEditor.tsx
  frontend/src/components/@styled/layout.tsx
  frontend/src/components/Feed/Feed.stories.tsx
  frontend/src/components/Feed/Feed.style.ts
  frontend/src/components/Feed/Feed.tsx
  frontend/src/constants/layout.ts
  frontend/src/constants/limits.ts
  frontend/src/constants/message.ts
  frontend/src/constants/queries.ts
  frontend/src/index.tsx
  frontend/src/mocks/db.json
  frontend/src/mocks/routes.json
  frontend/src/pages/HomeFeedPage/HomeFeedPage.stories.tsx
  frontend/src/pages/HomeFeedPage/HomeFeedPage.style.ts
  frontend/src/pages/HomeFeedPage/HomeFeedPage.tsx
  frontend/src/services/hooks/useFeed.ts
  frontend/src/services/queries/comments.ts
  frontend/src/services/queries/index.ts
  frontend/src/services/queries/posts.ts
  frontend/src/services/requests/comments.ts
  frontend/src/services/requests/index.ts
  frontend/src/services/requests/posts.ts
  frontend/webpack.config.ts
Labels: feature, frontend

#123 [hotfix] Post의 @DataJpaTest 테스트 실패 에러 복구
  backend/pick-git/src/test/java/com/woowacourse/pickgit/TestJpaConfiguration.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/domain/PostRepositoryTest.java
Labels: backend, hotfix

#133 [#127] 젠킨스 설정 파일 생성
  backend/pick-git/script/deploy_script.sh
  frontend/script/deploy_script.sh
  jenkinsfiles/backend-dev
  jenkinsfiles/backend-prod
  jenkinsfiles/frontend-dev
  jenkinsfiles/frontend-prod
  jenkinsfiles/s3proxy
  s3-proxy/s3-proxy/script/deploy_script.sh
Labels: backend, feature, infra

#135 [#134] 비로그인 유저로도 홈 피드 조회
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/presentation/interceptor/AuthenticationInterceptor.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/PostController.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/PostAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/presentation/PostControllerTest.java
Labels: backend, refactor

#131 [#127] reload 이슈 해결
  frontend/src/App.tsx
  frontend/src/components/Profile/Profile.tsx
  frontend/src/components/ProfileFeed/ProfileFeed.tsx
  frontend/src/constants/urls.ts
  frontend/src/pages/ProfilePage/ProfilePage.stories.tsx
  frontend/src/pages/ProfilePage/ProfilePage.tsx
  frontend/src/services/queries/posts.ts
  frontend/src/services/queries/profile.ts
Labels: bug, frontend

#136 [hotfix] s3storage bean 탐색을 하지 못하는 버그 수정
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/PostTestConfiguration.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/PickGitApplicationTests.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/authentication/OAuthAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/authentication/application/OAuthServiceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/authentication/dao/OAuthAccessTokenDaoTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/PostTestConfiguration.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/presentation/PostAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/presentation/PostControllerTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/tag/presentation/TagAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/user/application/UserServiceIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/user/integration/UserIntegrationTest.java
Labels: backend, hotfix

#139 [#137] 내 프로필 계정의 게시물을 조회한다.
  backend/pick-git/script/deploy_script.sh
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/PostService.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/PostController.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/PostAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/application/PostFactory.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/application/PostServiceIntegrationTest.java
  s3-proxy/s3-proxy/script/deploy_script.sh
Labels: backend, feature

#140 [chore] api mocking 관련 코드 수정
  frontend/src/App.tsx
  frontend/src/components/@layout/NavigationHeader/NavigationHeader.stories.tsx
  frontend/src/components/@layout/NavigationHeader/NavigationHeader.tsx
  frontend/src/constants/urls.ts
  frontend/src/services/requests/index.ts
  frontend/src/services/requests/posts.ts
  frontend/webpack.config.ts
Labels: chore, frontend

#144 [#143] 운영 환경 설정을 위한 서브 모듈 세팅
  backend/pick-git/.gitignore
  backend/pick-git/build.gradle
Labels: backend, chore

#147 [#146] 로그인 반환 값에 유저 네임 추가 및 인터셉터 매치 기능 리팩토링
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/application/OAuthService.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/presentation/OAuthController.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/presentation/dto/OAuthTokenResponse.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/presentation/interceptor/AuthenticationInterceptor.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/presentation/interceptor/IgnoreAuthenticationInterceptor.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/presentation/interceptor/PathMatchInterceptor.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/OAuthConfiguration.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/authentication/application/OAuthServiceMockTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/authentication/presentation/OAuthControllerTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/tag/presentation/TagControllerTest.java
Labels: backend, refactor

#149 [#129] follow 추가, 취소 기능 구현
  frontend/public/index.html
  frontend/src/App.style.ts
  frontend/src/components/@shared/ProfileHeader/ProfileHeader.tsx
  frontend/src/components/Feed/Feed.tsx
  frontend/src/contexts/UserContext.tsx
  frontend/src/services/hooks/@common/useLocalStorage.ts
  frontend/src/services/queries/profile.ts
  frontend/src/services/requests/profile.ts
Labels: feature, frontend

#155 [#153] 서브모듈 branch 변경
  .gitmodules
Labels: backend, bug, chore

#157 [#156] 젠킨슨 설정 파일 변경
  jenkinsfiles/backend-dev
  jenkinsfiles/backend-prod
  jenkinsfiles/frontend-dev
  jenkinsfiles/frontend-prod
  jenkinsfiles/s3proxy
Labels: backend, chore, infra, refactor

#153 [#152] 응답 파싱 에러 수정
  backend/pick-git/build.gradle
  backend/pick-git/src/main/java/com/woowacourse/pickgit/common/network/RestTemplateClient.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/infrastructure/RestClient.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/infrastructure/S3Storage.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/infrastructure/S3StorageTest.java
Labels: backend, bug

#160 [#159] 파일 이름과 확장자를 제대로 표시하지 못하는 버그 해결.
  s3-proxy/s3-proxy/src/main/java/com/woowacourse/s3proxy/web/application/PickGitStorageService.java
  s3-proxy/s3-proxy/src/main/java/com/woowacourse/s3proxy/web/domain/PickGitStorage.java
  s3-proxy/s3-proxy/src/main/java/com/woowacourse/s3proxy/web/infrastructure/FileNameGenerator.java
  s3-proxy/s3-proxy/src/main/java/com/woowacourse/s3proxy/web/infrastructure/S3Storage.java
  s3-proxy/s3-proxy/src/main/resources/application.properties
  s3-proxy/s3-proxy/src/test/java/com/woowacourse/s3proxy/web/application/PickGitStorageServiceTest.java
  s3-proxy/s3-proxy/src/test/java/com/woowacourse/s3proxy/web/infrastructure/FileNameGeneratorTest.java
  s3-proxy/s3-proxy/src/test/java/com/woowacourse/s3proxy/web/infrastructure/S3StorageIntegrationTest.java
Labels: bug, s3proxy

#171 [fix] 프론트엔드 이슈 수정
  frontend/src/components/ProfileFeed/ProfileFeed.styled.ts
  frontend/src/components/ProfileFeed/ProfileFeed.tsx
  frontend/src/constants/urls.ts
  frontend/src/contexts/UserContext.tsx
  frontend/src/pages/ProfilePage/ProfilePage.tsx
Labels: bug, frontend

#172 [fix] 프론트엔드 버그 수정
  frontend/src/components/@shared/PostItem/PostItem.tsx
  frontend/src/constants/urls.ts
  frontend/src/contexts/UserContext.tsx
Labels: bug, frontend

#175 [#173] Feature/loader and infinite scroll container
  frontend/src/components/@shared/InfiniteScrollContainer/InfiniteScrollContainer.stories.tsx
  frontend/src/components/@shared/InfiniteScrollContainer/InfiniteScrollContainer.style.ts
  frontend/src/components/@shared/InfiniteScrollContainer/InfiniteScrollContainer.tsx
  frontend/src/components/@shared/Loader/Loader.stories.tsx
  frontend/src/components/@shared/Loader/Loader.style.ts
  frontend/src/components/@shared/Loader/Loader.tsx
Labels: feature, frontend

#176 [#90] AddPostPage 페이지 컴포넌트 구현
  frontend/public/index.html
  frontend/src/@types/index.ts
  frontend/src/App.style.ts
  frontend/src/App.tsx
  frontend/src/assets/icons/github-repository.svg
  frontend/src/assets/icons/index.tsx
  frontend/src/components/@layout/NavigationHeader/NavigationHeader.tsx
  frontend/src/components/@layout/StepHeader/StepHeader.tsx
  frontend/src/components/@shared/ImageUploader/ImageUploader.stories.tsx
  frontend/src/components/@shared/ImageUploader/ImageUploader.tsx
  frontend/src/components/@shared/Input/Input.tsx
  frontend/src/components/PostAddStepHeader/PostAddStepHeader.stories.tsx
  frontend/src/components/PostAddStepHeader/PostAddStepHeader.style.tsx
  frontend/src/components/PostAddStepHeader/PostAddStepHeader.tsx
  frontend/src/components/PostContentUploader/PostContentUploader.stories.tsx
  frontend/src/components/PostContentUploader/PostContentUploader.style.tsx
  frontend/src/components/PostContentUploader/PostContentUploader.tsx
  frontend/src/components/RepositorySelector/RepositorySelector.stories.tsx
  frontend/src/components/RepositorySelector/RepositorySelector.style.tsx
  frontend/src/components/RepositorySelector/RepositorySelector.tsx
  frontend/src/components/TagInputForm/TagInputForm.stories.tsx
  frontend/src/components/TagInputForm/TagInputForm.style.tsx
  frontend/src/components/TagInputForm/TagInputForm.tsx
  frontend/src/constants/limits.ts
  frontend/src/constants/queries.ts
  frontend/src/constants/steps.ts
  frontend/src/constants/urls.ts
  frontend/src/contexts/PostAddDataContext.tsx
  frontend/src/contexts/PostAddStepContext.tsx
  frontend/src/index.tsx
  frontend/src/pages/AddPostPage/AddPostPage.stories.tsx
  frontend/src/pages/AddPostPage/AddPostPage.style.ts
  frontend/src/pages/AddPostPage/AddPostPage.tsx
  frontend/src/services/hooks/@common/useStep.ts
  frontend/src/services/hooks/usePostUpload.ts
  frontend/src/services/queries/github.ts
  frontend/src/services/queries/index.ts
  frontend/src/services/queries/posts.ts
  frontend/src/services/requests/github.ts
  frontend/src/services/requests/index.ts
  frontend/src/services/requests/posts.ts
  frontend/src/utils/history.ts
Labels: feature, frontend

#180 [#177] 게시물 시간 형식 추가
  frontend/src/components/@shared/PostItem/PostItem.tsx
  frontend/src/utils/date.ts
Labels: feature, frontend

#182 [#181] 요청에 userName 이 동적으로 들어가지 않는 문제를 해결
  frontend/src/constants/urls.ts
  frontend/src/services/queries/posts.ts
Labels: feature, frontend

#186 [#185] userName 과 repositoryName 이 없을 때 데이터가 fetch 되는 버그를 해결
  frontend/src/components/TagInputForm/TagInputForm.tsx
  frontend/src/services/queries/github.ts
  frontend/src/services/requests/github.ts
Labels: feature, frontend

#191 [#189] 홈 피드 조회 기능을 최신순으로 변경
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/PostRepository.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/application/PostServiceIntegrationTest.java
Labels: backend, refactor

#196 [#192] 프로필 페이지 401에러 미처리 이슈 해결
  frontend/src/components/GithubStatistics/GithubStatistics.stories.tsx
  frontend/src/components/GithubStatistics/GithubStatistics.tsx
  frontend/src/components/Profile/Profile.stories.tsx
  frontend/src/components/Profile/Profile.tsx
  frontend/src/components/ProfileFeed/ProfileFeed.stories.tsx
  frontend/src/components/ProfileFeed/ProfileFeed.tsx
  frontend/src/components/RepositorySelector/RepositorySelector.tsx
  frontend/src/components/TagInputForm/TagInputForm.tsx
  frontend/src/constants/urls.ts
  frontend/src/contexts/UserContext.tsx
  frontend/src/mocks/routes.json
  frontend/src/pages/ProfilePage/ProfilePage.tsx
  frontend/src/services/hooks/@common/useLocalStorage.ts
  frontend/src/services/hooks/usePostUpload.ts
  frontend/src/services/queries/comments.ts
  frontend/src/services/queries/github.ts
  frontend/src/services/queries/githubStats.ts
  frontend/src/services/queries/posts.ts
  frontend/src/services/queries/profile.ts
  frontend/src/services/requests/github.ts
  frontend/src/services/requests/githubStats.ts
  frontend/src/services/requests/posts.ts
  frontend/src/services/requests/profile.ts
  frontend/src/storage/storage.ts
Labels: bug, frontend

#198 [#197] 레이아웃 및 UI를 개선
  frontend/src/App.style.ts
  frontend/src/App.tsx
  frontend/src/components/@layout/PageLoading/PageLoading.stories.tsx
  frontend/src/components/@layout/PageLoading/PageLoading.style.ts
  frontend/src/components/@layout/PageLoading/PageLoading.tsx
  frontend/src/components/@shared/InfiniteScrollContainer/InfiniteScrollContainer.tsx
  frontend/src/components/@shared/PostItem/PostItem.style.ts
  frontend/src/components/@styled/layout.tsx
  frontend/src/components/Feed/Feed.stories.tsx
  frontend/src/components/Feed/Feed.style.ts
  frontend/src/components/Feed/Feed.tsx
  frontend/src/components/Profile/Profile.tsx
  frontend/src/components/RepositorySelector/RepositorySelector.style.tsx
  frontend/src/components/RepositorySelector/RepositorySelector.tsx
  frontend/src/components/TagInputForm/TagInputForm.tsx
  frontend/src/pages/AddPostPage/AddPostPage.style.ts
  frontend/src/pages/AuthLoginProcessingPage/AuthLoginProcessingPage.style.ts
  frontend/src/pages/HomeFeedPage/HomeFeedPage.tsx
  frontend/src/pages/LoginPage/LoginPage.style.ts
  frontend/src/pages/ProfilePage/ProfilePage.style.ts
  frontend/src/pages/TagFeedPage/TagFeedPage.tsx
  frontend/src/pages/UserFeedPage/UserFeedPage.tsx
Labels: feature, frontend

#203 [#197] 로그아웃 기능 구현
  frontend/src/components/@layout/NavigationHeader/NavigationHeader.stories.tsx
  frontend/src/components/@layout/NavigationHeader/NavigationHeader.style.ts
  frontend/src/components/@layout/NavigationHeader/NavigationHeader.tsx
Labels: feature, frontend

#201 [#194] REST Docs 적용
  backend/pick-git/build.gradle
  backend/pick-git/gradle/wrapper/gradle-wrapper.properties
  backend/pick-git/src/docs/asciidoc/authorization.adoc
  backend/pick-git/src/docs/asciidoc/comment.adoc
  backend/pick-git/src/docs/asciidoc/following.adoc
  backend/pick-git/src/docs/asciidoc/index.adoc
  backend/pick-git/src/docs/asciidoc/post.adoc
  backend/pick-git/src/docs/asciidoc/profile.adoc
  backend/pick-git/src/docs/asciidoc/tag.adoc
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/PostController.java
  backend/pick-git/src/main/resources/static/docs/index.html
  backend/pick-git/src/test/java/com/woowacourse/pickgit/authentication/presentation/OAuthControllerTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/docs/ApiDocumentUtils.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/application/PostFactory.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/post/presentation/PostControllerTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/tag/presentation/TagControllerTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/user/UserFactory.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/user/presentation/UserControllerTest.java
Labels: backend, docs

#208 [#207] 배포 자동화 버그 수정
  backend/pick-git/script/deploy_script.sh
  jenkinsfiles/backend-dev
  jenkinsfiles/backend-prod
  jenkinsfiles/frontend-prod
  jenkinsfiles/s3proxy
  s3-proxy/s3-proxy/script/deploy_script.sh
Labels: backend, hotfix

#209 [#91] Snackbar 구현
  frontend/src/@types/index.ts
  frontend/src/components/@shared/ProfileHeader/ProfileHeader.tsx
  frontend/src/components/@shared/Snackbar/Snackbar.stories.tsx
  frontend/src/components/@shared/Snackbar/Snackbar.style.ts
  frontend/src/components/@shared/Snackbar/Snackbar.tsx
  frontend/src/components/Feed/Feed.tsx
  frontend/src/components/Profile/Profile.tsx
  frontend/src/components/ProfileFeed/ProfileFeed.tsx
  frontend/src/constants/snackbar.ts
  frontend/src/contexts/SnackbarContext.tsx
  frontend/src/index.tsx
  frontend/src/pages/AddPostPage/AddPostPage.tsx
  frontend/src/pages/AuthLoginProcessingPage/AuthLoginProcessingPage.tsx
  frontend/src/pages/LoginPage/LoginPage.tsx
  frontend/src/services/queries/profile.ts
  frontend/src/services/requests/profile.ts
Labels: feature, frontend

#211 [#212] 배포 환경에 따라 api url 분기
  frontend/package.json
  frontend/src/services/requests/index.ts
  frontend/webpack.config.ts
Labels: chore, frontend

#214 [#212] 프론트엔드 빌드 커맨드 수정
  jenkinsfiles/frontend-dev
Labels: chore, frontend, infra

#235 [#223, #229] API 변경사항 반영 및 Post 중복제거
  frontend/src/@types/index.ts
  frontend/src/components/@layout/Snackbar/Snackbar.stories.tsx
  frontend/src/components/@layout/Snackbar/Snackbar.style.ts
  frontend/src/components/@layout/Snackbar/Snackbar.tsx
  frontend/src/components/@shared/ContributionGraph/ContributionGraph.style.ts
  frontend/src/components/@shared/InfiniteScrollContainer/InfiniteScrollContainer.tsx
  frontend/src/components/@shared/PostItem/PostItem.tsx
  frontend/src/components/@shared/ProfileHeader/ProfileHeader.stories.tsx
  frontend/src/components/@shared/ProfileHeader/ProfileHeader.tsx
  frontend/src/components/Feed/Feed.tsx
  frontend/src/components/Profile/Profile.tsx
  frontend/src/components/ProfileFeed/ProfileFeed.tsx
  frontend/src/constants/urls.ts
  frontend/src/contexts/SnackbarContext.tsx
  frontend/src/mocks/db.json
  frontend/src/pages/AuthLoginProcessingPage/AuthLoginProcessingPage.tsx
  frontend/src/pages/HomeFeedPage/HomeFeedPage.tsx
  frontend/src/pages/LoginPage/LoginPage.tsx
  frontend/src/services/hooks/useFeed.ts
  frontend/src/services/hooks/useHomeFeed.ts
  frontend/src/services/queries/posts.ts
  frontend/src/services/queries/profile.ts
  frontend/src/services/requests/comments.ts
  frontend/src/services/requests/github.ts
  frontend/src/services/requests/posts.ts
  frontend/src/utils/api.ts
Labels: bug, frontend

#239 [#204] Issue 및 PR Template 수정
  .github/ISSUE_TEMPLATE/bug-template.md
  .github/ISSUE_TEMPLATE/feature-template.md
  .github/ISSUE_TEMPLATE/refactor-template.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: backend, docs, frontend

#242 [#222] 프로필 페이지 피드 버그 수정
  frontend/src/@types/index.ts
  frontend/src/components/@shared/ProfileHeader/ProfileHeader.style.ts
  frontend/src/components/@shared/ProfileHeader/ProfileHeader.tsx
  frontend/src/components/@shared/Tabs/Tabs.stories.tsx
  frontend/src/components/@shared/Tabs/Tabs.style.ts
  frontend/src/components/@shared/Tabs/Tabs.tsx
  frontend/src/components/@styled/layout.tsx
  frontend/src/components/GithubStatistics/GithubStatistics.tsx
  frontend/src/components/Profile/Profile.stories.tsx
  frontend/src/components/Profile/Profile.tsx
  frontend/src/components/ProfileFeed/ProfileFeed.stories.tsx
  frontend/src/components/ProfileFeed/ProfileFeed.styled.ts
  frontend/src/components/ProfileFeed/ProfileFeed.tsx
  frontend/src/components/ProfileTabContents/ProfileTabContents.stories.tsx
  frontend/src/components/ProfileTabContents/ProfileTabContents.style.ts
  frontend/src/components/ProfileTabContents/ProfileTabContents.tsx
  frontend/src/pages/ProfilePage/ProfilePage.style.ts
  frontend/src/pages/ProfilePage/ProfilePage.tsx
  frontend/src/services/hooks/useHomeFeed.ts
  frontend/src/services/hooks/useProfile.ts
  frontend/src/services/hooks/useUserFeed.ts
  frontend/src/services/queries/githubStats.ts
  frontend/src/services/queries/posts.ts
  frontend/src/services/queries/profile.ts
  frontend/src/services/requests/githubStats.ts
  frontend/src/utils/api.ts
  frontend/src/utils/data.ts
Labels: bug, feature, frontend

#241 [#219] 게시글 추가 중 발생하는 에러에 대한 피드백, 핸들링 구현
  frontend/public/index.html
  frontend/src/@types/index.ts
  frontend/src/components/@layout/MessageModalPortal/MessageModalPortal.stories.tsx
  frontend/src/components/@layout/MessageModalPortal/MessageModalPortal.styles.tsx
  frontend/src/components/@layout/MessageModalPortal/MessageModalPortal.tsx
  frontend/src/components/@layout/StepHeader/StepHeader.tsx
  frontend/src/components/@shared/BackDrop/BackDrop.stories.tsx
  frontend/src/components/@shared/BackDrop/BackDrop.styles.tsx
  frontend/src/components/@shared/BackDrop/BackDrop.tsx
  frontend/src/components/Feed/Feed.tsx
  frontend/src/components/PostAddStepHeader/PostAddStepHeader.tsx
  frontend/src/components/PostContentUploader/PostContentUploader.style.tsx
  frontend/src/components/PostContentUploader/PostContentUploader.tsx
  frontend/src/components/RepositorySelector/RepositorySelector.tsx
  frontend/src/components/TagInputForm/TagInputForm.tsx
  frontend/src/constants/limits.ts
  frontend/src/constants/message.ts
  frontend/src/constants/messages.ts
  frontend/src/constants/steps.ts
  frontend/src/constants/urls.ts
  frontend/src/contexts/PostAddDataContext.tsx
  frontend/src/pages/AddPostPage/AddPostPage.tsx
  frontend/src/services/hooks/@common/useMessageModal.ts
  frontend/src/services/hooks/@common/useStep.ts
  frontend/src/services/hooks/usePostUpload.ts
  frontend/src/services/queries/comments.ts
  frontend/src/services/queries/github.ts
  frontend/src/services/queries/githubStats.ts
  frontend/src/services/queries/posts.ts
  frontend/src/services/queries/profile.ts
  frontend/src/services/requests/github.ts
  frontend/src/services/requests/posts.ts
  frontend/src/utils/error.ts
  frontend/src/utils/postUpload.ts
Labels: feature, frontend

#247 [#240] Authentication 관련 테스트 코드 리팩토링
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/application/OAuthService.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/application/dto/OAuthProfileResponse.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/infrastructure/AuthorizationExtractor.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/infrastructure/GithubOAuthClient.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/presentation/interceptor/IgnoreAuthenticationInterceptor.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/authentication/OAuthAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/authentication/AuthenticationInterceptorIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/authentication/AuthenticationPrincipalArgumentResolverIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/authentication/IgnoreAuthenticationInterceptorIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/authentication/OAuthServiceIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/authentication/application/OAuthServiceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/authentication/dao/OAuthAccessTokenDaoTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/authentication/presentation/OAuthControllerTest.java
Labels: backend, test

#255 [#226, #227] 프로필 수정 모달 구현
  frontend/.eslintrc
  frontend/.storybook/utils/components.tsx
  frontend/src/assets/icons/camera.svg
  frontend/src/assets/icons/cancel-no-circle.svg
  frontend/src/assets/icons/index.tsx
  frontend/src/components/@layout/MessageModalPortal/MessageModalPortal.styles.tsx
  frontend/src/components/@layout/MessageModalPortal/MessageModalPortal.tsx
  frontend/src/components/@layout/Modal/ModalPortal.stories.tsx
  frontend/src/components/@layout/Modal/ModalPortal.style.ts
  frontend/src/components/@layout/Modal/ModalPortal.tsx
  frontend/src/components/@layout/Snackbar/Snackbar.style.ts
  frontend/src/components/@shared/BackDrop/BackDrop.stories.tsx
  frontend/src/components/@shared/BackDrop/BackDrop.styles.tsx
  frontend/src/components/@shared/BackDrop/BackDrop.tsx
  frontend/src/components/@shared/Button/Button.style.ts
  frontend/src/components/@shared/Button/Button.tsx
  frontend/src/components/@shared/Loader/Loader.style.ts
  frontend/src/components/@shared/ProfileHeader/ProfileHeader.tsx
  frontend/src/components/@shared/Tabs/Tabs.stories.tsx
  frontend/src/components/@shared/Tabs/Tabs.style.ts
  frontend/src/components/@shared/TextEditor/TextEditor.stories.tsx
  frontend/src/components/@shared/TextEditor/TextEditor.style.ts
  frontend/src/components/@shared/TextEditor/TextEditor.tsx
  frontend/src/components/@styled/BackDrop.tsx
  frontend/src/components/@styled/keyframes.ts
  frontend/src/components/@styled/layout.tsx
  frontend/src/components/ProfileModificationForm/ProfileModificationForm.stories.tsx
  frontend/src/components/ProfileModificationForm/ProfileModificationForm.style.ts
  frontend/src/components/ProfileModificationForm/ProfileModificationForm.tsx
  frontend/src/constants/layout.ts
  frontend/src/constants/limits.ts
  frontend/src/constants/messages.ts
  frontend/src/contexts/SnackbarContext.tsx
  frontend/src/contexts/UserContext.tsx
  frontend/src/services/hooks/@common/useModal.ts
  frontend/src/services/queries/profile.ts
  frontend/src/services/requests/profile.ts
  frontend/src/utils/profileModification.ts
Labels: feature, frontend

#250 [#246] 댓글 테스트 코드를 리팩토링
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/dto/CommentResponse.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/Post.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/comment/Comment.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/comment/CommentContent.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/dto/request/CommentRequest.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/User.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/post/PostAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/factory/PostFactory.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/post/PostServiceIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/application/PostServiceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/domain/PostRepositoryTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/domain/comment/CommentTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/presentation/PostControllerTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/user/domain/UserTest.java
Labels: backend, test

#256 [#220, #226] 네비게이션 ui 수정 및 이미지 인디케이터 추가
  frontend/src/components/@layout/NavigationHeader/NavigationHeader.tsx
  frontend/src/components/@shared/ImageSlider/ImageSlider.style.ts
  frontend/src/components/@shared/ImageSlider/ImageSlider.tsx
  frontend/src/components/@styled/layout.tsx
  frontend/src/constants/layout.ts
Labels: feature, frontend

#245 [#234] 태그 테스트 코드를 리팩토링
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/Post.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/PostTag.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/dto/request/PostRequest.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/tag/application/ExtractionRequestDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/tag/application/TagService.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/tag/application/TagsDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/tag/domain/Tag.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/tag/infrastructure/GithubTagApiRequester.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/tag/infrastructure/GithubTagExtractor.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/tag/presentation/TagController.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/post/PostAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/tag/TagAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/post/PostServiceIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/tag/TagServiceIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/domain/PostRepositoryTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/tag/application/TagServiceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/tag/domain/TagRepositoryTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/tag/domain/TagTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/tag/infrastructure/GithubTagExtractorTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/tag/presentation/TagControllerTest.java
Labels: backend, test

#260 [#221, #225] 프로필 피드 클릭시 유저 피드 페이지로 이동
  frontend/src/App.tsx
  frontend/src/components/@layout/NavigationHeader/NavigationHeader.style.ts
  frontend/src/components/@layout/NavigationHeader/NavigationHeader.tsx
  frontend/src/components/@shared/ImageSlider/ImageSlider.tsx
  frontend/src/components/Feed/Feed.tsx
  frontend/src/components/ProfileFeed/ProfileFeed.tsx
  frontend/src/components/ProfileTabContents/ProfileTabContents.tsx
  frontend/src/constants/layout.ts
  frontend/src/constants/urls.ts
  frontend/src/pages/ProfilePage/ProfilePage.tsx
  frontend/src/pages/UserFeedPage/UserFeedPage.tsx
  frontend/src/services/hooks/useUserFeed.ts
  frontend/src/services/queries/posts.ts
Labels: feature, frontend

#252 [#251] Post 테스트 코드를 리팩토링
  backend/pick-git/src/main/java/com/woowacourse/pickgit/exception/post/RepositoryParseException.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/PostDtoAssembler.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/PostService.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/dto/response/PostImageUrlResponseDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/Post.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/Posts.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/comment/Comment.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/content/Images.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/content/PostContent.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/like/Like.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/like/Likes.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/infrastructure/GithubRepositoryApiRequester.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/infrastructure/GithubRepositoryExtractor.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/infrastructure/S3Storage.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/PostController.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/dto/request/HomeFeedRequest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/factory/PostBuilder.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/factory/PostFactory.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/post/PostServiceIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/application/PostServiceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/domain/PostRepositoryTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/domain/PostTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/domain/PostsTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/domain/content/ImageTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/domain/content/ImagesTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/domain/content/PostContentTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/domain/like/LikeTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/domain/like/LikesTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/infrastructure/GithubRepositoryApiRequesterTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/infrastructure/GithubRepositoryExtractorTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/infrastructure/S3StorageTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/infrastructure/StubRestClient.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/presentation/PostControllerTest.java
  jenkinsfiles/backend-dev
Labels: backend, test

#265 [#183] 게시글 댓글 기능을 구현
  frontend/public/index.html
  frontend/src/@types/index.ts
  frontend/src/assets/icons/go-down.svg
  frontend/src/assets/icons/index.tsx
  frontend/src/components/@layout/BottomSliderPortal/BottomSliderPortal.stories.tsx
  frontend/src/components/@layout/BottomSliderPortal/BottomSliderPortal.styles.tsx
  frontend/src/components/@layout/BottomSliderPortal/BottomSliderPortal.tsx
  frontend/src/components/@layout/NavigationHeader/NavigationHeader.style.ts
  frontend/src/components/@layout/NavigationHeader/NavigationHeader.tsx
  frontend/src/components/@shared/PostItem/PostItem.stories.tsx
  frontend/src/components/@shared/PostItem/PostItem.style.ts
  frontend/src/components/@shared/PostItem/PostItem.tsx
  frontend/src/components/@shared/Tabs/Tabs.style.ts
  frontend/src/components/@shared/Tabs/Tabs.tsx
  frontend/src/components/@styled/layout.tsx
  frontend/src/components/CommentSlider/CommentSlider.stories.tsx
  frontend/src/components/CommentSlider/CommentSlider.styles.tsx
  frontend/src/components/CommentSlider/CommentSlider.tsx
  frontend/src/components/Feed/Feed.stories.tsx
  frontend/src/components/Feed/Feed.tsx
  frontend/src/components/PostAddStepHeader/PostAddStepHeader.tsx
  frontend/src/components/ProfileFeed/ProfileFeed.stories.tsx
  frontend/src/components/RepositorySelector/RepositorySelector.tsx
  frontend/src/constants/layout.ts
  frontend/src/constants/messages.ts
  frontend/src/constants/steps.ts
  frontend/src/constants/urls.ts
  frontend/src/pages/AddPostPage/AddPostPage.tsx
  frontend/src/pages/HomeFeedPage/HomeFeedPage.tsx
  frontend/src/pages/ProfilePage/ProfilePage.tsx
  frontend/src/pages/TagFeedPage/TagFeedPage.tsx
  frontend/src/pages/UserFeedPage/UserFeedPage.tsx
  frontend/src/services/hooks/@common/useBottomSlider.ts
  frontend/src/services/hooks/@common/useStep.ts
  frontend/src/services/hooks/useFeedMutation.ts
  frontend/src/services/hooks/useHomeFeed.ts
  frontend/src/services/hooks/usePostAddStep.ts
  frontend/src/services/queries/comments.ts
  frontend/src/services/requests/comments.ts
  frontend/src/services/requests/posts.ts
  frontend/src/utils/history.ts
  frontend/src/utils/tabs.ts
Labels: feature, frontend

#271 [#199, #248, #184] 게시글 삭제 & 게시글 기본 이미지 구현
  frontend/src/App.style.ts
  frontend/src/assets/icons/edit.svg
  frontend/src/assets/icons/index.tsx
  frontend/src/assets/icons/trash.svg
  frontend/src/assets/icons/vertical-dots.svg
  frontend/src/assets/images/empty-post-image.png
  frontend/src/components/@shared/ButtonDrawer/ButtonDrawer.stories.tsx
  frontend/src/components/@shared/ButtonDrawer/ButtonDrawer.style.ts
  frontend/src/components/@shared/ButtonDrawer/ButtonDrawer.tsx
  frontend/src/components/@shared/PostItem/PostItem.tsx
  frontend/src/components/Feed/Feed.tsx
  frontend/src/components/TagInputForm/TagInputForm.tsx
  frontend/src/constants/urls.ts
  frontend/src/services/hooks/useFeedMutation.ts
  frontend/src/services/queries/posts.ts
  frontend/src/services/requests/posts.ts
Labels: feature, frontend

#274 [#230] 검색페이지 구현
  frontend/.storybook/utils/LoggedInWrapper.tsx
  frontend/src/@types/index.ts
  frontend/src/App.tsx
  frontend/src/components/@layout/SearchHeader/SearchHeader.stories.tsx
  frontend/src/components/@layout/SearchHeader/SearchHeader.tsx
  frontend/src/components/@shared/Input/Input.tsx
  frontend/src/components/@shared/ProfileHeader/ProfileHeader.tsx
  frontend/src/components/@shared/Tabs/Tabs.tsx
  frontend/src/components/Profile/Profile.tsx
  frontend/src/components/SearchListUser/SearchListUser.stories.tsx
  frontend/src/components/SearchListUser/SearchListUser.style.ts
  frontend/src/components/SearchListUser/SearchListUser.tsx
  frontend/src/constants/limits.ts
  frontend/src/constants/queries.ts
  frontend/src/constants/urls.ts
  frontend/src/contexts/SearchContext.tsx
  frontend/src/index.tsx
  frontend/src/mocks/db.json
  frontend/src/pages/SearchPage/SearchPage.stories.tsx
  frontend/src/pages/SearchPage/SearchPage.style.ts
  frontend/src/pages/SearchPage/SearchPage.tsx
  frontend/src/services/hooks/@common/useDebounce.ts
  frontend/src/services/hooks/useFollow.ts
  frontend/src/services/hooks/useSearchData.ts
  frontend/src/services/queries/profile.ts
  frontend/src/services/queries/search.ts
  frontend/src/services/requests/profile.ts
  frontend/src/services/requests/search.ts
Labels: feature, frontend

#263 [#253] Github 통계 조회 기능 구현
  backend/pick-git/src/main/java/com/woowacourse/pickgit/exception/user/ContributionParseException.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/application/UserService.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/application/dto/response/ContributionResponseDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/Contribution.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/PlatformContributionCalculator.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/PlatformContributionExtractor.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/dto/ContributionDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/statistics/empty.txt
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/infrastructure/calculator/GithubContributionCalculator.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/infrastructure/dto/CountDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/infrastructure/dto/StarsDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/infrastructure/empty.txt
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/infrastructure/extractor/GithubContributionExtractor.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/infrastructure/requester/GithubContributionApiRequester.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/infrastructure/requester/PlatformContributionApiRequester.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/presentation/UserController.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/presentation/dto/response/ContributionResponse.java
  backend/pick-git/src/main/resources/application.yml
  backend/pick-git/src/test/java/com/woowacourse/pickgit/PickGitApplicationTests.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/post/PostAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/tag/TagAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/user/UserAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/factory/FileFactory.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/factory/MockUser.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/factory/UserFactory.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/mockapi/MockContributionApiRequester.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/InfrastructureTestConfiguration.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/config/JpaTestConfiguration.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/authentication/OAuthServiceIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/post/PostServiceIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/tag/TagServiceIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/user/UserServiceIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/authentication/presentation/OAuthControllerTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/application/PostServiceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/domain/PostRepositoryTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/domain/PostTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/domain/PostsTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/domain/content/ImageTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/domain/content/ImagesTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/domain/like/LikeTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/domain/like/LikesTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/infrastructure/GithubRepositoryApiRequesterTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/infrastructure/S3StorageTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/presentation/PostControllerTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/tag/application/TagServiceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/tag/infrastructure/GithubTagExtractorTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/tag/presentation/TagControllerTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/user/application/UserServiceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/user/infrastructure/GithubContributionCalculatorTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/user/infrastructure/GithubContributionExtractorTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/user/presentation/UserControllerTest.java
Labels: backend, feature

#278 [#277] useFollow 테스트 작성
  frontend/jest.config.ts
  frontend/package.json
  frontend/src/@types/index.ts
  frontend/src/constants/error.ts
  frontend/src/constants/messages.ts
  frontend/src/services/hooks/@tests/useFollow.test.tsx
  frontend/src/services/hooks/useFollow.ts
  frontend/src/services/hooks/useHomeFeed.ts
  frontend/src/services/hooks/useProfile.ts
  frontend/src/services/hooks/useSearchData.ts
  frontend/src/services/hooks/useUserFeed.ts
  frontend/src/services/queries/posts.ts
  frontend/src/services/queries/profile.ts
  frontend/src/services/requests/github.ts
  frontend/src/services/requests/index.ts
  frontend/src/services/requests/posts.ts
  frontend/src/services/requests/profile.ts
  frontend/src/utils/api.ts
  frontend/src/utils/error.ts
  frontend/src/utils/typeGuard.ts
  frontend/yarn.lock
Labels: feature, frontend

#280 [#124, #262, #275, #276] 요청 관련 이슈 해결
  frontend/src/@types/index.ts
  frontend/src/App.tsx
  frontend/src/components/@shared/PostItem/PostItem.tsx
  frontend/src/components/GithubStatistics/GithubStatistics.tsx
  frontend/src/components/ProfileModificationForm/ProfileModificationForm.tsx
  frontend/src/constants/messages.ts
  frontend/src/constants/urls.ts
  frontend/src/contexts/UserContext.tsx
  frontend/src/pages/ProfilePage/ProfilePage.tsx
  frontend/src/pages/SearchPage/SearchPage.style.ts
  frontend/src/pages/SearchPage/SearchPage.tsx
  frontend/src/services/hooks/useSearchData.ts
  frontend/src/services/queries/githubStats.ts
  frontend/src/services/queries/profile.ts
  frontend/src/services/requests/githubStats.ts
  frontend/src/services/requests/profile.ts
  frontend/src/services/requests/search.ts
Labels: feature, frontend

#264 [#257] 게시물 좋아요 기능 구현
  backend/pick-git/src/main/java/com/woowacourse/pickgit/authentication/infrastructure/AuthorizationExtractor.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/OAuthConfiguration.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/exception/post/CannotUnlikeException.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/exception/post/DuplicatedLikeException.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/PostService.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/dto/response/LikeResponseDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/Post.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/like/Like.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/like/Likes.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/PostController.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/dto/response/LikeResponse.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/post/PostAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/post/PostServiceIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/application/PostServiceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/domain/PostTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/domain/like/LikesTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/presentation/PostControllerTest.java
Labels: backend, feature

#266 [#254] 유저 검색 기능을 구현
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/OAuthConfiguration.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/application/UserService.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/application/dto/request/UserSearchRequestDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/application/dto/response/UserSearchResponseDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/UserRepository.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/presentation/UserSearchController.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/user/UserAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/factory/UserFactory.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/user/UserServiceIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/user/application/UserServiceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/user/domain/UserRepositoryTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/user/presentation/UserSearchControllerTest.java
Labels: backend, feature

#283 [#282] user, tag 검색 요청 분리
  frontend/src/@types/index.ts
  frontend/src/components/@layout/SearchHeader/SearchHeader.tsx
  frontend/src/components/SearchListUser/SearchListUser.tsx
  frontend/src/constants/urls.ts
  frontend/src/mocks/db.json
  frontend/src/pages/SearchPage/SearchPage.tsx
  frontend/src/services/hooks/@tests/useProfileModificationForm.test.tsx
  frontend/src/services/hooks/useSearchData.ts
  frontend/src/services/hooks/useSearchUserData.ts
  frontend/src/services/queries/search.ts
  frontend/src/services/requests/index.ts
  frontend/src/services/requests/search.ts
Labels: frontend, refactor

#279 [#267] 프로필 수정 기능을 구현
  backend/pick-git/src/main/java/com/woowacourse/pickgit/config/OAuthConfiguration.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/domain/PickGitStorage.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/infrastructure/S3Storage.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/application/UserService.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/application/dto/request/ProfileEditRequestDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/application/dto/response/ProfileEditResponseDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/User.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/presentation/UserController.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/presentation/dto/request/ProfileEditRequest.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/presentation/dto/response/ProfileEditResponse.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/user/UserAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/factory/FileFactory.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/mockapi/MockPickGitStorage.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/user/UserServiceIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/user/application/UserServiceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/user/presentation/UserControllerTest.java
Labels: backend, feature

#285 [#284] 게시물 수정 및 삭제 버그 해결
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/post/PostServiceIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/application/PostServiceTest.java
Labels: backend, hotfix

#288 [#287] Github 통계 조회 버그 해결
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/domain/PlatformContributionExtractor.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/infrastructure/calculator/GithubContributionCalculator.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/infrastructure/dto/ItemDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/user/infrastructure/extractor/GithubContributionExtractor.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/mockapi/MockContributionApiRequester.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/user/infrastructure/GithubContributionCalculatorTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/user/infrastructure/GithubContributionExtractorTest.java
Labels: backend, bug

#291 [#289] like 관련 DTO 필드명 변경
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/dto/CommentResponse.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/dto/response/LikeResponseDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/dto/response/PostResponseDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/PostController.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/dto/response/CommentResponse.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/dto/response/LikeResponse.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/post/PostAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/common/factory/PostFactory.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/post/PostServiceIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/application/PostServiceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/presentation/PostControllerTest.java
Labels: backend, bug

#297 [#292] restDocs 필드명 수정 및 Boolean으로 변경
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/application/dto/response/LikeResponseDto.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/PostController.java
  backend/pick-git/src/main/java/com/woowacourse/pickgit/post/presentation/dto/response/LikeResponse.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/acceptance/post/PostAcceptanceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/integration/post/PostServiceIntegrationTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/application/PostServiceTest.java
  backend/pick-git/src/test/java/com/woowacourse/pickgit/unit/post/presentation/PostControllerTest.java
Labels: backend, bug

#299 [#293] Logback 인식 불가 버그 해결
  backend/pick-git/src/main/resources/logback-access.xml
  backend/pick-git/src/main/resources/logback-spring.xml
  backend/pick-git/src/main/resources/static/docs/index.html
  s3-proxy/s3-proxy/src/main/resources/logback-access.xml
  s3-proxy/s3-proxy/src/main/resources/logback-spring.xml
Labels: backend, bug
